[2018-11-18 20:36] andreasb242 commented on #147
Currently I think this change will bring nothing for the user, therefore I close this ticket. There are a lot of other things which makes really sense, e.g. creating ppa etc.

[2018-11-18 20:36] #147 closed

[2018-11-19 04:37] andreasb242 commented on #292
I installed Debian stretch (by accident, realized to late).
With this version the error does not occur. It is working...

[2018-11-19 05:43] #262 closed

[2018-11-19 07:57] andreasb242 commented on #292
I have now Debian buster installed, compiling and all is working as excepted. Can you please also copy the cmake command, did you add somting, or did you use "cmake .." in the build directory?

Maybe git clone the repo on a new location and try again?

[2018-11-19 08:10] taaem commented on #292
I tried with Mathtex support on and off.
Do you have gtk2-dev stuff installed? Maybe it only picks that up if it is installed

[2018-11-19 08:11] andreasb242 opened #331 "Poppler installation - still some dependency issues"
Installation of libpoppler.so.72 works (#262), but other libs probably needs to be installed also. Else there are non-matching libs installed, and Poppler crashes.

`
Try to get a better stracktrace...
[bt] #1 xournalpp() [0x690419]
/home/andreas/dev/xournalpp_butti/xournalpp/src/util/CrashHandler.cpp:121
[bt] #2 /lib/x86_64-linux-gnu/libc.so.6(+0x354b0) [0x7fdd419ce4b0]
??:0
[bt] #3 /usr/lib/x86_

[2018-11-19 08:13] andreasb242 commented on #292
No, this is a complete fresh install, I only installed git and the dependencies for Xournal++ (which are in the Readme of this repo). Nothing else.

So this is possible.

[2018-11-19 08:16] taaem commented on #292
Okay, maybe you could try installing that?
Btw I'll try to give you a complete list of the fedora dependencies.

[2018-11-19 08:17] andreasb242 commented on #237
Looks like an econding error. Probably an error on PDF Merging

[2018-11-19 08:29] andreasb242 commented on #292
Confirmed: You are right! After installing libgtk2.0-dev I got the same error.
(But it's not fixed, I'm not the CMake / Build specialist. But hopefully I find the reason.)

If you don't need GTK2, uninstalling might fix it. If you have application which need the GTK2-dev package, this is not a solution...

[2018-11-19 09:12] JoeKays commented on #292
Can confirm as well!
For a quick and dirty solution it works when I remove the *values* (you have to keep the keys!) of all the keys starting with 'GTK2' from CMakeCache.txt.
Then it compiles beautifully as always and also then the error when running the executable is gone, too!

[2018-11-19 12:00] andreasb242 commented on #323
I could reproduce it. So I probably can fix it ;-)

[2018-11-19 12:05] andreasb242 commented on #323
Issue found: SidebarPreviewBase::scrollToPreview is looping... I have to check whats the problem...

[2018-11-19 12:18] #184 closed

[2018-11-19 12:18] #323 closed

[2018-11-19 12:19] morrolinux commented on #323
@andreasb242 just out of curiosity: how did you debug this? I tried with vscode but seem not to be able to attach to a specific thread

[2018-11-19 12:33] andreasb242 commented on #93
Therefore like in Swing or JavaFX all should be done in UI Thread. In C++ this is some work. I'll create a helper construct. But not now.

[2018-11-19 12:51] andreasb242 commented on #237
I googled and found

 podofouncompress --help
 Usage: podofouncompress [inputfile] [outputfile]

       This tool removes all compression from the PDF file.
       It is useful for debugging errors in PDF files or analysing their structure.

 PoDoFo Version: "0.9.3"

And if I try to decompress the PDF, it crashes :-(
In the PDF are two characters, so this is not the issue.

I need an uncompressed

[2018-11-19 13:29] andreasb242 commented on #244
Fixed with https://github.com/xournalpp/xournalpp/pull/333

[2018-11-19 13:29] #244 closed

[2018-11-19 14:04] JoeKays opened #334 "[Feature request] Add dotted paper"
Hi,

dotted paper would be really great, I have locally implemented it by changing the contents of 'void DocumentView::paintBackgroundGraph()' (the method painting the graph paper in my case) to:

[code]

However I am not sure what else has to be changed to not overwrite the current graph paper and adding a new paper type.
Maybe someone else knows how to do that?

Also I propose to let the user ch

[2018-11-19 14:06] andreasb242 commented on #334
At the moment this is a little bit complicated, but I'm currently thinking about refactoring this part, so it should be possible to e.g. choose the line color.

I'ts OK with this ticket here, so the status will be tracked.

[2018-11-19 14:10] JoeKays opened #335 "Bug: Page container colour"
And a tiny bug with the background behind the paper:
When zooming out from normal zoom the background colour changes from the normal grey to a really unpleasant black.

I am not sure why this happens but it is weird and a little annoying.

Thanks again!

[2018-11-19 14:59] andreasb242 commented on #335
This does not happen on my system. Can you create a video / screenshot or so and supply which distribution you are using?

Or if this happen on some special cases, e.g. if the screen is rotated or something like this. As long I cannot reproduce it, I probably cannot fix it.

[2018-11-19 15:11] JoeKays commented on #335
Funny.
Here's a screenshot of what happens.

Bottom picture is after scrolling out with the mouse wheel.
![xournalpp-bug](https://user-images.githubusercontent.com/24915259/48715669-cc3fc600-ec15-11e8-9ead-c1967325f53a.png)

[2018-11-19 15:34] JoeKays commented on #335
It happens always. I just have to start the program and scroll out and it immediately happens. No flickering, nothing, just black and it stays that way forever.

[2018-11-19 15:45] andreasb242 commented on #335
I found a scrolling issue. I have to check this later. Maybe I need to fix this...

[2018-11-19 20:09] andreasb242 commented on #287
Removed SVG Export

[2018-11-19 20:09] #287 closed

[2018-11-19 23:43] Stiffy2000 opened #338 "Unable to insert Math Equation"
When running `build/src/xournalpp` from the terminal, Xournalpp opens, but when I try to insert a math equation (tools -> Add/Edit tex) it does nothing. However, in the terminal, this shows up.

[code]
I did `cmake -DBUILD_POPPLER=ON -DENABLE_MATHTEX=ON ..` and it ran fine, and it was built fine as well. But when inserting a math equation, it doesn't do anything other than the terminal output.

*

[2018-11-20 06:51] andreasb242 commented on #338
The main issue is not that it's not working, the issue is not to showing the user a good error message!
But also without installing it should work, not a big thing. I'll fix it.

[2018-11-20 07:08] #222 closed

[2018-11-20 10:36] andreasb242 commented on #338
I fixed the whole latex code, there was also a crash in undo, because undo was handled wrong.  (now there is a delete and create undo on edit, so you have to press ctrl+z twice)
Additional I select the element after insert or edit.
The binary is now searched relative or in path.

If an error occurs, a message is displayed to the user instead of printed to the command line.

I'll close the ticket w

[2018-11-20 10:45] #338 closed

[2018-11-20 15:36] andreasb242 commented on #249
I made the formats hardcoded, but it can easy be made configurable, but at the moment I think it's not needed.

[2018-11-20 15:52] #249 closed

[2018-11-21 04:30] siliconninja opened #343 "UX issue: The label for the "Draw Line" button is "Ruler" in many parts of the GUI, which mean different things"
**EDIT: a better explanation is in this comment: https://github.com/xournalpp/xournalpp/issues/343#issuecomment-440803325 This affects Xournal++ entirely, not just the "Toolbar Left" layout.**
**Here is what I initially discovered that made me decide to report this issue:**

When using the "Toolbar Left" layout in View > Toolbars, when hovering over the "RULER" tool, it shows up as "Ruler", not "D

[2018-11-21 05:04] siliconninja commented on #292
Here's a diff with my changes to the CMakeCache.txt and my full CMakeCache.txt file with the fix applied (might vary if you're on a different distro, I'm on Manjaro.) **Note that you have to generate the CMakeCache.txt file first using `cmake ..` in the `build` directory you created.**

**Another note for the CMakeCache-fix.txt file: directory names (like /home/siliconninja/Documents/Linux Compile

[2018-11-21 05:30] andreasb242 commented on #292
But why?
There are no GTK2 dependencies?!

[2018-11-21 06:36] taaem commented on #335
I have this too, when totally zoomed out I can get rid of it by disabling the sidebar

[2018-11-21 16:39] andreasb242 commented on #292
I have an Idea, and maybe somebody has time.

Checkout a copy of Xournalpp to a new folder, delete all source files.
Create one single file, e.g. use this example:
https://developer.gnome.org/gtk3/stable/gtk-getting-started.html

Is it working? Is it also not working.
If it is not working, strip dependencies down, until we know the problem.

Should be relative easy, but needs much time...

[2018-11-21 18:05] #331 closed

[2018-11-21 18:22] andreasb242 commented on #343
Not sure if I understand you right.

1. I'm not a native english speaking person, but ruler sounds OK for me
2. You mean the RULER if you map Mouse / Stylus button? This is the same ruler as the Ruler in the Toolbar, I checked now, if I map the right mouse button to a pen with Ruler exactly this ruler button is activated, so for me it looks right.

So I currently don't see any problem.

---
Ok, th

[2018-11-21 20:05] andreasb242 commented on #127
There was never an issue I know and there is also the emergency save

[2018-11-21 20:05] #127 closed

[2018-11-21 20:45] siliconninja commented on #343
@andreasb242
Sorry about that, here's a more clear explanation.

I noticed that in Xournal++, the "Draw Line" tool is referred to as "Ruler" (in the "Input Device" part of the settings menu, and the Tools menu), except in the combo box with the different drawing tools (Draw Circle, Draw Square, etc), where it correctly shows "Draw Line", which are in the View>Toolbars>"Portrait" layout (which I'll

[2018-11-21 21:25] siliconninja opened #349 "Code style issue (and possible refactoring): Change "Ruler" to "Draw Line" in code"
I saw "Ruler" and "Draw Line" in different places when I was looking at the code, which confused me.

Explanation:

The "Ruler" in the GUI refers to the "Draw Line" tool in the GUI (basically, the "Ruler" in most parts of the GUI mean that it draws a line when you click and hold on the note page and drag the mouse cursor to another location and release to draw a line):

Good:

![screenshot_2018112

[2018-11-21 21:37] siliconninja opened #350 "Code style issue (and possible refactoring) (slightly easier pick than #349): Change name of "GROUP_RULER" in ToolMenuHandler.cpp"
When looking into my other issues (#343 and #349), I also found something surprising in the code in ToolMenuHandler.cpp:

https://github.com/xournalpp/xournalpp/blob/1253046df36b8f80cf966b8161e2781461790d18/src/gui/toolbarMenubar/ToolMenuHandler.cpp#L431-L436

Why are they grouped under this name: GROUP_RULER when they could be given a better name like GROUP_TOOL_DRAW_COMBO_CONTROL that says which

[2018-11-21 22:07] andreasb242 commented on #349
First: you are generally right.

Pull: https://github.com/xournalpp/xournalpp/pull/351
I simplified and fixed some settings, so all tools should be stored and read correctly from settings.
I fixed some namings in the GUI, all you have mentioned in the Screenshots above (hopefully). Yes, Consistency in UI is really important. I didn't mention that, because I always used the toolbar, not the Menu. M

[2018-11-21 22:07] #349 closed

[2018-11-21 22:14] siliconninja commented on #349
Thank you for the comment. This is OK with me.
If I get to it I might do a pull request. Unfortunately I don't have very much time after this week so I'm contributing what I can to the project just because I like to help out.

[2018-11-21 22:16] andreasb242 commented on #349
I'm reading all your comments, but I need some time to respond ;-)
I think this Ticket is don, I'll answer to the other tickets.

[2018-11-21 22:29] andreasb242 commented on #350
It's clear, no Problem.

In this case I can explain you, why the Group is called GROUP_RULER. It's really simple, first, there was only a ruler on/off button, but for all toggle button there is a group.
Somebody added the other shapes, and made a menu button out of the ruler button.

In my opinion, this is maybe a bad naming, but not a Bug.
As written in the other Ticket, if you have time to fix s

[2018-11-21 22:29] #350 closed

[2018-11-21 22:33] andreasb242 commented on #343
My pull is merged, and see the comments in the other tickets.

Thank you for your work, and I'm now feeling bad to close also the third ticket...
One Thing: The naming can be changed with an IDE like Eclipse really simple, but you always have to carefully check, if it's really working after... (thats the main problem).

[2018-11-21 22:33] #343 closed

[2018-11-21 22:35] andreasb242 commented on #309
@peetCreative

You should get the rights for Travis now, so I think here should noting be to do.
If not, feel free to reopen the ticket.

[2018-11-21 22:35] #309 closed

[2018-11-22 01:04] siliconninja commented on #292
I was able to get the example-0.c file to compile by using the command on their website: ````gcc `pkg-config --cflags gtk+-3.0 -o example-0 example-0.c `pkg-config --libs gtk+-3.0` ````. No dependency issues there.

I also tried messing around with the CMakeLists.txt file in the src/ directory by removing all dependencies on the src files and just getting example-0.c to compile when doing mkdir bu

[2018-11-22 07:38] #115 closed

[2018-11-22 07:45] andreasb242 commented on #129
Circle quality is already improved, and therefore this is not really a problem anymore, I hope

[2018-11-22 07:45] #129 closed

[2018-11-22 12:38] JoeKays commented on #334
This is awesome!
I also like they grey graph paper. We could maybe make every 5th line in red or something, then it would be even better I think.
Have you already changed the way the drawing is done so the colour can be selected?
As I imagine it there could be a setting for main and secondary colour and a setting for line width and line spacing. It would be really easy to customise with that.

[2018-11-22 12:47] andreasb242 commented on #334
I have changed the model, so we can supply an argument string to each background. So the most work is done, but I didn't change the painting yet. This will be the second step.
The string also will be read / stored in the xoj file.

[2018-11-22 13:02] morrolinux commented on #334
Have you already checked if that doesn't break file backcompatibility and stroke timestamp reading/storing from/to file?

[2018-11-22 15:54] andreasb242 commented on #334
I haven't changed a lot on the load / save handling.
As long as you use the Backgrounds supported by Xournal, the file looks 100% the same.

If you used a dotted page (or also additional features, which are not yet ready) Xournal will not open the file.
But for me this is the better solution, than to do a hack and save it somewhere els, save e.g. lined background, and you only have to open the fil

[2018-11-22 16:57] andreasb242 commented on #334
I discussed with @morrolinux and we decided, to store Xournal++ files as .xojpp. We allow to export as .xoj, but then you loose e.g. your dotted background.

It's not a big change, the fileformat keeps the same, as long as you don't use e.g. a new background, the file will be identical, don't matter if saved as .xoj or as .xojpp.

[2018-11-22 17:02] morrolinux commented on #334
Yeah right now I'm kind of regretting the choice of name "xojpp" maybe simply "xopp" would look better, don't hesitate to argue about it if I'm not the only one ;-)

[2018-11-22 17:15] andreasb242 commented on #334
Ok, xopp :-)

[2018-11-22 17:30] siliconninja commented on #292
@andreasb242 You're welcome!
I've tried again. I deleted all the source files this time, except for the stuff in the cmake directory, because that's required for building. Attached is my CMakeLists.txt.
[CMakeLists.txt](https://github.com/xournalpp/xournalpp/files/2608947/CMakeLists.txt)

The contents of my setup are:
[code]

I was able to get the example-0.c file to compile properly using cmake a

[2018-11-22 17:40] andreasb242 commented on #292
Example

here it's called GTK3, because of this all vars starting with GTK3

Xournal++

Here it's called GTK, therefore all vars start with GTK.

But maybe a simple

INCLUDE_DIRECTORIES(${GTK_INCLUDE_DIRS})
Would solve it.

I don't know the difference from your build commands.
i'm really not a CMake Specialist... (else I may already fixed the problem...)

[2018-11-22 21:17] andreasb242 commented on #292
gtk-x11-2.0 is probably the problem.

With

we can output the dependencies.

It shows, that xournalpp directly references gtk-x11-2.0 !?

----

I found it!

[2018-11-22 21:33] siliconninja commented on #292
Wow! Yeah I found gtk-x11-2.0 in lddtree but I wasn't sure where it was coming from. That's why `-- Found GTK2_GTK: /usr/lib/libgtk-x11-2.0.so` was being printed when I ran cmake and both GTK2 and GTK3 libraries were being included. When I was debugging, I tried `grep -nr "gtk" .` but that only gave a bunch of results of "gtk" in source files. I was also trying "gtk2" but grep didn't find "GTK2".

[2018-11-22 21:38] #292 closed

[2018-11-22 21:40] andreasb242 commented on #292
I merged the pull now - so the main Problem is solved (and the ticket closed)

@siliconninja i saw this also, but after it was working I wouldn't change anything ;-)
Feel free to create a Pull request which cleans this also - I'll merge it.

[2018-11-22 21:41] andreasb242 commented on #335
I have some ideas, there were some deprecated GTK functions, where I get the colors from....

[2018-11-22 21:50] siliconninja commented on #292
Thank you! I've created a pull request #360 with those changes and fixed a typo in CMakeLists.txt that I found.

[2018-11-23 06:07] #268 closed

[2018-11-23 07:49] andreasb242 commented on #96
Working on Master

[2018-11-23 07:49] #96 closed

[2018-11-23 07:55] #93 closed

[2018-11-23 08:02] andreasb242 commented on #335
This is the Problem I think.

[2018-11-23 13:19] #335 closed

[2018-11-23 13:19] andreasb242 commented on #335
I couldn't reproduce the error on my machine.
Please check if working, and if not, reopen the ticket.

[2018-11-23 17:01] taaem commented on #335
For me this is fixed now!

[2018-11-23 20:37] sambhavsaggi opened #375 "[Feature Request] Add TeX as an PDF"
Currently, when you insert a TeX equation, it defaults to an ugly, pixely mess. Currently, Mathtex only supports PNGs (i think) and we can replace this with a better engine.

[2018-11-23 20:51] andreasb242 commented on #375
I fixed some bugs on Mathtex, and I think the main issue is the resolution calculation, which is really bad.

in

If you insert an image, there is no old image, and therefore:
`
	if (this->texArea < 1000)
	{
		texres = "300";
	}
`
I'm not sure, but this might be the issue.

[2018-11-23 20:52] Stiffy2000 opened #376 "Settings Ok Button Crashes Xournal++"
When going to `edit -> preferences` and pressing `OK`, Xournal++ crashes.

Build: a641db91377aa0af0cb854c3318a368d52815a3b

OS: Kali GNU/Linux Rolling

Logfile:

[code]

[2018-11-23 20:57] siliconninja commented on #376
I get the same error on KDE 5.14, Manjaro Linux. Thanks for reporting it.

[2018-11-23 21:01] andreasb242 commented on #376
Already fixed, there was a nullcheck missing...

[2018-11-23 21:03] andreasb242 commented on #376
There is currently much development ongoing, and we still don't have automated testing ;-)

But also a lot of Bugs have been fixed. Especially the Multithreading Stuff is fixed now.
There will be one big change, which is not merged yet, and after I hope there won't be big changes...

Thank you for Testing & Reporting.

[2018-11-23 21:04] #376 closed

[2018-11-24 09:43] andreasb242 commented on #334
Technical all is ready now. I need to handle the .xoj export, and .xopp save, and then I can enabled the Dotted Background

[2018-11-24 19:49] #334 closed

[2018-11-25 10:33] andreasb242 commented on #334
![grafik](https://user-images.githubusercontent.com/822958/48978035-df371800-f0a5-11e8-89c7-41833ac9cdef.png)

[2018-11-25 11:32] cass00 commented on #172
This is not fixed. In gnome you can only scale by integers. Running `GDK_SCALE=2 xournalpp` will result in slightly blurry lines. Running `GDK_SCALE=5 xournalpp`, for example, everything is superblurry. I'm running with Gnome scale factor of 2 on my hidpi tablet, i.e. xournalpp is run with `GDK_SCALE=2`. A workaround to get sharp lines for me is to run `GDK_SCALE=1 xournalpp`. In this case the sym

[2018-11-25 11:44] andreasb242 commented on #172
Confirmed

[2018-11-25 17:35] cass00 commented on #172
Maybe this is of help: http://wiki.inkscape.org/wiki/index.php/HiDPI

[2018-11-25 17:59] andreasb242 commented on #172
The solution is simple: We need to scale our internal buffer.
According to the debug output, I missed a second place where the buffered image gets created or so...

[2018-11-25 18:34] andreasb242 commented on #172
It is partial working, so drawing seems to be Ok now, a little hacked now, but drawing needs also to be scaled...
For today I stop working on this.

[2018-11-25 18:44] andreasb242 commented on #172
It's much simpler. We need to disable GTK Scaling on this widget, as Xournal already has Zoom support.

[2018-11-26 17:20] JoeKays commented on #334
@andreasb242 Very cool!

[2018-11-26 22:00] macxcool opened #397 "[Enhancement] Allow modifier key to disable line tool snapping."
Enhancement:
When using the line tool I sometimes want to turn off the snapping behaviour near the horizontal and vertical. It would be nice to be able to use a modifier key (Ctrl, Shift, Alt??) to disable snapping temporarily so I can draw a line that's close to vertical or horizontal.

[2018-11-27 09:12] Rmano commented on #375
If you want to use just LaTeX to generate a PDF, what I use is normally a standalone class construct, where you have to embed the equation string into this (in this case the string is the equation starting with `a=`):

[code]
...and then simply run `pdflatex` on it, you'll have a cropped  pfd:

![image](https://user-images.githubusercontent.com/6414907/49070798-cb69ee00-f22c-11e8-8f0d-4e2a2a71f483

[2018-11-27 09:50] TezRomacH commented on #189
Is there any progress about precompiled `.app` release for MacOS?

[2018-11-27 17:40] andreasb242 commented on #375
I know latex, but not so good.
PDF would probably be easier than svg, as we already support PDF drawing to the page.

May the template can be overwritten in the settings? So you enter your latex template with some placeholder?
E.g. also a placeholder for the Color code?

[2018-11-27 17:42] andreasb242 commented on #189
Currently not. But if you would like to do, I'll support you.
I have a macbook available, but - as usual - not enough time to everything ;-)

[2018-11-27 19:52] andreasb242 commented on #397
Done. Additional: draw a square instead of a rectangle, if shift is pressed.

[2018-11-27 19:58] #397 closed

[2018-11-28 12:47] peetCreative commented on #283
@badshah400 But at the extracted poppler is located at `../`?
Because I think this option is just taking the source form `POPPLER_DIR` and compiles it into `poppler-prefix` folder.
Maybe one can add an option to extract the tarball first. Than it might work.
But I'm thinking for the first forcing to build poppler manually if the poppler is above 0.68

[2018-11-28 16:04] taaem opened #402 "Can't open dropdown menus via touch/pen input"
As the title says I'm not able to open any dropdown menus, like the top row or the page background menu.
If I click on the menu it shows that it registeres the touch but if I stop touching it, it just goes to back to normal instead of opening the menu.
The consequence is I need to use my touchpad/mouse to change *any* setting.

[2018-11-28 16:06] taaem opened #403 "The hand tool icon is misaligned"
The hand tool is misaligned and cut off, see the screenshot.
![bildschirmfoto von 2018-11-28 17-04-58](https://user-images.githubusercontent.com/7108647/49164719-f5580900-f32f-11e8-93fb-0693623c1adb.png)

[2018-11-28 16:09] taaem opened #404 "Zooming via pinch to zoom causes graphical glitches"
When zooming via mulittouch pinch to zoom gestures, the page "glitches" it zooms correctly but it also shows the fullscreen view every few moments, which makes zooming really hard.
Also zooming in general causes the view to scroll quite often so even if I'm using the handle in the menu I end up on the last page even if I started in the middle or somewhere.

[2018-11-28 17:02] andreasb242 commented on #403
This does not happen on my system.
Please try to replace the hand.svg icon with another one, which is working, and tell us, if it's then working (so there is an issue with the Icon) or if it's still not working.

Thank you.

[2018-11-28 17:06] andreasb242 commented on #402
I can also not reproduce this Problem, can you tell us which Distribution in which version you are using, and if you configured something special (whatever, I don't know, exotic Compiz Plugin etc.)

Thank you.

[2018-11-28 17:08] andreasb242 commented on #404
Link to #402 and #403

All bugs are not reproducible on my system (Ubuntu 16.04)

[2018-11-28 17:23] andreasb242 commented on #172
Disable scaling is not possible. :-(

[2018-11-28 17:29] morrolinux commented on #402
I maybe also have this issue when using touch.
When I click on a dropdown menu, it opens, but I cannot click any of the options available as the touch seem not to get registered. Does not happen with the pen for me.
As this happens on all applications on my system, I think it could be more a DE/Xorg/input driver issue than a Xournalpp one.
Please let us know if you have this issue also with other

[2018-11-28 17:30] andreasb242 opened #405 "Scrolling issue direct after start"
Sometimes scrolling does not work directly after start, after Zooming it works.
Probably a Layout / Size update issue.

[2018-11-28 17:34] morrolinux commented on #404
I also have the de-centered scrolling issue when zooming via handler buttons. I think it might be somehow fixable by relative-scrolling the page while zooming in/out, to keep it centered. However, last time I tried to do so, the obtained behaviour was irregular and not desired. maybe I did not take into account all the zoom and scale variables.
I could be doing some testing this weekend if I have

[2018-11-28 20:11] taaem commented on #403
I looked at the files a bit and indeed it is an issue with that specific svg, I can open it in inkscape just fine, but if I open it in any Gnome app (like any image viewer) or even VLC it is offset, I digged a bit in the xml and I did find out that if I remove the second viewBox property it moves but unortunally it then offset down left.
So Firefox and Inkscape show the SVG correctly but any Gnome

[2018-11-28 20:16] taaem commented on #402
So I'm using Fedora 29 on Gnome 3.30 and the latest Gtk.
I just tested this and this only happens on Wayland if I'm switching back to X everything works fine!

[2018-11-28 20:18] taaem commented on #402
Oh I just tested this with Evolution and there I have the same issue on Wayland!
So this is probably a Gtk bug then.

[2018-11-28 20:23] andreasb242 commented on #403
I would copy and open a working Icon in Inkscape, delete everything, copy the contents from the other to the new one, and align it (right toolbar somewhere, you have icons to align it to center).
Try if you can fix the icon. If you have fixed it, I would appreciate a pull request with the fixed Icon ;-)
(else: you can also upload it here)

[2018-11-28 20:29] andreasb242 commented on #402
I didn't test Wayland at all. May I should.
This is not a Xournal Bug, and we cannot fix it. I'm currently not sure where you have to report such a bug, on GTK, Fedore, Wayland?

However, I'll close this bug, but if you report the Bug somewhere else, please post the Link here. Even if the bug is close, it will may be found by searching, and then it's really helpful to find the real issue.
(you can

[2018-11-28 20:29] #402 closed

[2018-11-28 20:52] andreasb242 commented on #403
fixed: https://github.com/xournalpp/xournalpp/pull/409

So I close this ticket. Thank you!
And feel free to fix other bugs :-)

[2018-11-28 20:52] #403 closed

[2018-11-28 20:56] taaem commented on #402
Upstrea bug: https://gitlab.gnome.org/GNOME/gtk/issues/1490

[2018-11-29 14:12] fucitol opened #411 "Autosave crashes"
I have been getting random crashes that seem to be related to autosave, because disabling it stops the crashes.

[code]

[2018-11-29 14:13] cass00 commented on #404
Centered pinch to zoom works quite alright for me. Here is the commit from a while ago from my xournalpp fork cass00/xournalpp@29f43991 . Not actually sure by what way it made it into the main repo. So there is certainly room for improvement.

[2018-11-29 16:55] guraltsev opened #412 "Constant crashes after 1-2 min of use"
I am using Arch with https://aur.archlinux.org/packages/xournalpp-git/ installed  (I also tried compiling it by hand)and it crashes constantly after several minutes of use. In particular it seems related to pressing the eraser button on the stylus.

I am attaching the log.
[errorlog.20181129-115231.log](https://github.com/xournalpp/xournalpp/files/2630076/errorlog.20181129-115231.log)

[2018-11-29 17:08] guraltsev commented on #412
Attaching another log. This is a bit different
[errorlog.20181129-120652.log](https://github.com/xournalpp/xournalpp/files/2630121/errorlog.20181129-120652.log)

[2018-11-29 17:08] peetCreative opened #413 "Current Color indicator lacks"
The current color indicator shows allways the last choosen instead of the current color.
![screenshot_20181129_152916](https://user-images.githubusercontent.com/5854864/49238901-2278ea00-f40a-11e8-9f14-f37bacae96a4.png)

[2018-11-29 17:19] peetCreative opened #414 "Auto Filenameing missing"
I remember that  xournalpp intended automatically filenames. This doesn't seem to work anymore.
Filenames like: `2018-04-18-Note-15-17.xoj`

[2018-11-29 17:19] andreasb242 commented on #412
@morrolinux is also using Arch I think. Do you also have this Problem?

This looks like something with the UI, but the Problem is this line:
[bt] #1 /usr/local/bin/xournalpp(+0x2c1def) [0x5557b8ff6def]

No real information about the position in the Code.

@guraltsev Can you may run it in the debugger, and can tell me the position where it crashed?

[2018-11-29 17:20] peetCreative commented on #412
@andreasb242  I use arch and I don't had problems.

[2018-11-29 17:21] andreasb242 commented on #404
@cass00 This is merged. For me this is working if I use the touch and two fingers. (on Ubuntu 16.04)

[2018-11-29 17:30] andreasb242 commented on #412
Yes GDB, but GDB alone is probably the hardest way to do this.
Do you have a preferred IDE?
e.g. I use Eclipse, but the most IDEs which support C++ also Supports debugging (with GDB in Background).

[2018-11-29 17:33] andreasb242 commented on #414
This is working for me.
The API of GTK3 has changed, I did some changes.

Have a look at:
bool Control::showSaveDialog()

[2018-11-29 17:37] andreasb242 commented on #414
https://developer.gnome.org/gtk3/stable/GtkFileChooser.html#gtk-file-chooser-set-filename

[2018-11-29 17:40] peetCreative opened #415 "Mousepointer disappearing"
The Mouse pointer is disappearing, when using Texttool and going over the Area.

[2018-11-29 17:46] peetCreative opened #416 "Zooming with the slider changes page"
When I zoom with the slider the location in the document is changing to other page. Zooming back brings me back to the correct page.

[2018-11-29 17:56] Rmano commented on #412
Citing by memory only, you can use `gdb xournalpp` in a terminal, and when it crashes then `bt` give the backtrace.

It needs compiling with `-g` to have more info, I fear...

[2018-11-29 18:15] guraltsev commented on #412
Ok, recompiled and debugged:

`(gdb) bt full
#0  0x00007fac16395d7f in raise () at /usr/lib/libc.so.6
#1  0x00007fac16380672 in abort () at /usr/lib/libc.so.6
#2  0x00007fac163d8878 in __libc_message () at /usr/lib/libc.so.6
#3  0x00007fac163df18a in  () at /usr/lib/libc.so.6
#4  0x00007fac163e0a26 in _int_free () at /usr/lib/libc.so.6
#5  0x00007fac17fa98aa in gdk_event_free () at /usr/lib/libgdk

[2018-11-29 18:37] andreasb242 commented on #412
This is a complete Stacktrace, but still unclear what the real problem is:

[code]

This looks like a free issue, double free or so. But this is called from GTK, so I currently know the real issue.
You don't have the same issue with other applications, right?

So this is probably a memory corruption or something like this.
And it's really hard to know where this happen, especially as this don't ha

[2018-11-29 19:09] morrolinux commented on #414
I have the same issue

[2018-11-29 19:10] morrolinux commented on #412
I don't have this issue

[2018-11-29 19:13] andreasb242 commented on #414
If you create a new file? Or when?

[2018-11-29 19:22] morrolinux commented on #414
If I open a pdf with xournalpp, when I hit save, the predefined filename is missing instead of having the name of the pdf + xopp suffix

[2018-11-29 19:33] guraltsev commented on #412
I have a bamboo stylus and an ELANTech digitizer. The second button on the bamboo digitizer makes it appear as an eraser. It seems to be the standard way these things work (I have read discussions bout it elsewhere).

[code]

[2018-11-29 19:41] andreasb242 commented on #412
@guraltsev You can configure what the eraser does in Xournal++ in the Settings. You can also map the Pen buttons.

There are now two possibilities:
I have a pen, which has a Button, which is technical the "right click", and I have a Pen, which has a button on the back side, like a pencil, and you have to press with this side to the Tablet.

This would be the eraser device.

I currently assume, you

[2018-11-29 19:42] andreasb242 commented on #414
Confirmed. But if you create a new file without .pdf, it's working, right?

[2018-11-29 20:13] guraltsev commented on #412
The sends events on device ``↳ ELAN2514:00 04F3:2595 Pen stylus          id=12   [slave  pointer  (2)]``. The first button sends a button event. The second button DOES NOT send a button event (and as such cannot be reconfigured) but holding down the button makes the pen appear as ``↳ ELAN2514:00 04F3:2595 Pen eraser          id=18   [slave  pointer  (2)]``. In particular I do not flip the pen to e

[2018-11-29 20:32] morrolinux commented on #414
I think the whole point of the thing was to have the title defaulted to the name of the pdf so that I don't have to copy and paste it in the save dialog ^^

[2018-11-29 20:42] guraltsev commented on #412
Thanks. By the way. There are some other problems with such a setup. I will open new bug reports. They are by no means urgent and actually I can survive quite fine. The crashing is a deal breaker (it does not happen on the usual xournal) but the other ones do.

[2018-11-29 20:57] guraltsev opened #417 "Pen eraser jumps around and erases unexpected areas."
My stylus acts like a pen and the second button makes it appear as an eraser (at the hardware or linux system level, not xournalpp config). This causes an annoying behavior:
 I erase something by holding down the second button (erase key) and touching the canavas in the top left corner of the screen. Now I release the key and remove the stylus. Now suppose that I want to erase something in the low

[2018-11-30 00:19] morrolinux commented on #417
Looks more like an hardware problem to me... I'm able to reproduce the "jumping" issue just fine even on the desktop:
1) position the pen to one corner of the screen
2) distance the pen from the screen (leaving the pointer in the corner)
3) get the pen back on the screen near the opposite corner
4) if you do that slowly enough you'll be able to see the cursor "racing" from where it was to where it

[2018-11-30 00:36] guraltsev commented on #417
I wouldn't really know another program to test it in. I believe that the problem is in the hardware, but it seems that there is no way to fix it reliably in the ``libinput`` and/ar ``xsetwacom`` settings. Would you have a suggestion to where to report it and/or if maybe xournal should implement a filter to drop these events. Thanks!

[2018-11-30 11:14] TI-Admin opened #418 "Application crash if called by different User than the one that installed it."
After cmake install on archlinux to /usr/local done by User XXX, User YYY can't start xournalpp without a crash.

strace reveals that the application is trying to load files like pagetemplates.ini from /home/XXX/xournalpp/ui instead from /usr/local/share/xournalpp/ui and crashes because it can't access /home/XXX/xournalpp/ui

[2018-11-30 14:12] andreasb242 commented on #412
This is not reproducible on my Tablet. So it's not a general bug (I expected it, because I'm not sure if anybody tested pen input after GTK3 Merge).

Checklist:
- It is probably not a GTK Bug, else Xournal would also be affacted
- It is not a general eraser mapping issue, else I could reproduce it
- It is always reproducible (correct?) needs therefor be a specific programming error, and not a mult

[2018-11-30 14:21] andreasb242 commented on #417
@guraltsev So there is not always a crash if you use the eraser?

I cannot reproduce this with the eraser, I can reproduce this with the Touchscreen and the Pen.
And then I also got Xournal++ crashed once. I did two tries to get rid of this events from the Touchscreen, without success yet. There are already two tickets open for this.

First: It may has something to do with: #412 (same Author).

So

[2018-11-30 14:30] guraltsev commented on #412
I use X11. I cannot reproduce the issue reliably. It seems to me that the aur package compiles to something that crashes much more often while when I recompiled the package by hand it crashes less: maybe once every 20 min? Still mainly when using the eraser though.

Cannot say, actually maybe it is....

Anyway, I will try your change and try to reproduce the bug. I will also try to see if it is st

[2018-11-30 14:37] guraltsev commented on #412
Come to think of it it may be related to the touchscreen too. I have a convertible (hp  specter x360) and while I am writing my hand is lying on the screen. Sometimes (rarely, though) there is also a jerk in zoom level. Another somewhat weird thing that I do not know whether it is related:

When I open options I select the option to ignore writing with the touchscreen and I select the touchscreen

[2018-11-30 14:38] andreasb242 commented on #412
I get Xournal++ reliable crash with the touchscreen and the pen at the same time.
A crash in the GLIB, free.
Called from GTK.

So I think I can reproduce exactly this issue, and I can debug it. I try to solve this.

[2018-11-30 14:43] andreasb242 commented on #412
For this we already have two tickets, but it's not easy to fix.

This is a new bug. And I can confirm it. (this will be an easy one)

It's getting clearer. :-)

[2018-11-30 14:45] andreasb242 commented on #418
GladeSearchpath::findFile searches at multiple locations.

XournalMain::initPath set up this files, and this probably should cleaned up, or at least the setup directory needs to be moved first.

[2018-11-30 14:47] andreasb242 commented on #418
No, move the setup directory at the first location would be a bad idea for all developers, as the new edited files would not be loaded.

[2018-11-30 18:41] markwmuller opened #420 "Add j/k scrolling buttons"
In many applications, the keys "j" (for down) and "k" (for up) are used to scroll (for example, in Evince and Okular).

It would be nice to have this in Xournal++ too. Bonus would be the full vim set, including "h" for left and "l" for right.

[2018-11-30 19:41] andreasb242 commented on #285
Currently to much work, and the most Problems currently are special hardware / input cases, so I close this now, even if this would make sense!

[2018-11-30 19:41] #285 closed

[2018-11-30 20:14] #414 closed

[2018-11-30 20:20] morrolinux commented on #76
currently working on it in `stroke_rotation` branch. Any contribution is appreciated

[2018-11-30 20:38] andreasb242 commented on #412
The Touch device was correct selected, the bug was only in the Settings dialog. I fixed it now...

[2018-12-01 09:50] #418 closed

[2018-12-01 09:51] andreasb242 commented on #418
@TI-Admin The Buildpath is now not integrated anymore, so it should be fixed. If not: Reopen the Ticket.

[2018-12-01 10:10] andreasb242 commented on #420
XournalView::onKeyPressEvent handles key shortcuts

[2018-12-01 10:32] #420 closed

[2018-12-01 11:34] #405 closed

[2018-12-01 17:36] andreasb242 commented on #412
I have probably fixed this bug.

@guraltsev can you please retry, and if it's still crashing, reopen this bug.

I'll close this bug now. You can still comment, even if it's closed. I hope it's solved, and touch handling is also improved

[2018-12-01 17:36] #412 closed

[2018-12-01 18:10] andreasb242 commented on #417
@guraltsev Can you also check if this is better, or if there is nothing changed? Thank you.

[2018-12-01 22:32] #413 closed

[2018-12-01 23:34] markwmuller commented on #404
I'm not sure this is the original issue, but my pinch to zoom is also somewhat broken. Video here:
https://imgur.com/a/d3uxU5p

Using Ubuntu 18.04, Wayland, on Thinkpad x1 yoga. (No pinch to zoom using X, I'm assuming that's expected).

[2018-12-02 06:51] andreasb242 commented on #404
@markwmuller
No, it is working for me on Ubuntu 16.04 on a Lenovo Helix with X11. So this is also an issue. We had already an issue with Wayland. Chan you check if Zoom is working e.g. in Evince or EOG or so?

ps. Offtopic, I know: I installed Ubuntu 18.04 first on my Helix. But if I have the Wacom Tablet active (pen removed) Ubuntu crashes on the Login screen. Did you also have Problems, or was i

[2018-12-02 07:08] andreasb242 commented on #237
I currently think about a simple solution: Add a checkbox "Simple export" to the PDF export, and in this case simple draw the pages with Cairo to a PDF.

[2018-12-02 07:30] andreasb242 commented on #170
Not perfect (GTK issues, and still room for improvements) but mostly fixed with https://github.com/xournalpp/xournalpp/pull/438/files

[2018-12-02 07:30] #170 closed

[2018-12-02 07:35] andreasb242 opened #439 "New Settings page for Touch specific handling"
GTK3 Touch handling is now active, some workaround are built around it, but the most things cannot be configured. This needs to be changed, and if there is no touch, this should probably be disabled.

[2018-12-02 18:32] markwmuller commented on #404
No pinch-to-zoom in EOG or evince, either, using X.

18.04 worked well for me, without issues as far as wacom/touch goes.

[2018-12-02 18:58] taaem commented on #404
My zooming looks exactly like in the video, but I have pinch to zoom in evince on wayland working fine.

[2018-12-02 19:14] andreasb242 commented on #404
I can not reproduce it on my system, it is correct working. And I have currently no other Touch enabled device for Testing.

The method XournalView::zoom_gesture_scale_changed_cb is called when the zoom changes.

Please add the line:

And then we interpret the output.

[2018-12-02 23:16] markwmuller commented on #404
@andreasb242 Where do I add the line of code?

FWIW, I have it working in x too, now. For me, the fix was to use `libinput` driver, rather than `wacom`, from here ( https://bugs.launchpad.net/ubuntu/+source/xf86-input-wacom/+bug/1774242 ). Now zoom works well in evince, and in Xournal++

[2018-12-03 00:06] peetCreative opened #445 "Poppler qt4 is build though disabled"
I saw, that on my arch machine as well as in travis CI CMAKE_ARGS for poppler are just ignored.
So the compilation of these components prolong the build time.
On my uptodate debian server the components are disabled and not compiled as configured.

[2018-12-03 00:43] guraltsev commented on #412
@andreasb242 Will do tomorrow! Sorry, I was away this weekend.

[2018-12-03 06:16] andreasb242 commented on #404
At the beginning of XournalView::zoom_gesture_scale_changed_cb

[2018-12-03 07:06] taaem commented on #404
Here is a log with that line added. I think it is related to PDFs in some way, because if I just open Xournal in a new window without having changed anything pinch-to-zoom works fine, but if I open a PDF like shown in the log something messes up.
[log.txt](https://github.com/xournalpp/xournalpp/files/2638391/log.txt)

[2018-12-03 10:18] TI-Admin opened #447 "Crash trying to use latex"
I installed to /usr/local on archlinux with MathTex enabled.

When I select tools->latex the program crashes with /home/XXX/.xournalpp/tex.png not found error message.

[errorlog.20181203-105644.log](https://github.com/xournalpp/xournalpp/files/2639015/errorlog.20181203-105644.log)

[2018-12-03 12:30] Stiffy2000 commented on #447
What was your `cmake` command?

[2018-12-03 13:31] TI-Admin commented on #447
I did use cmake-gui with

BUILD POPPLER
BUILD BOOST
ENABLE_MATHTEX

There is a ~/.xournalpp folder but no tex.png anywhere. Neither in ~/xournalpp the git folder nor in ~/.xournalpp nor in /usr/local/share/xournalpp

[2018-12-03 16:11] andreasb242 commented on #404
Ok, thank you, I'll try with a PDF, if can reproduce it. I can see the really big changes in Zoom, so already the Gesture sends really big differences, which causes the big size changes, e.g.

zoom: 1,501744
zoom: 654,690938

This is really a big jump.

[2018-12-03 16:13] andreasb242 commented on #412
@guraltsev No Problem.
On my System I definitive could fix an issue, and I disabled touch now, if the pen is moving. Currently it's not configurable (I will do this later).
Hopefully it's also working on your system to.

[2018-12-03 16:17] andreasb242 commented on #447
First: I have changed some installation stuff, so packaging will be possible. Maybe I have broken something.
Second: There is now a Preview in the LaTeX Dialog, maybe there is no check, if the file really exists or a missing Nullcheck or so.

[2018-12-03 16:22] markwmuller commented on #404
For me, it happens without opening a PDF (on wayland). Log below:

[jitters.txt](https://github.com/xournalpp/xournalpp/files/2640260/jitters.txt)

[2018-12-03 16:32] andreasb242 commented on #447
Yes, the usual missing Nullcheck in the dialog....

[2018-12-03 16:43] andreasb242 commented on #447
I fixed the crash, but not the main issue.

[2018-12-03 17:34] luco5826 commented on #447
@andreasb242 hi!
Which could be a solution to the issue? I'd like to help if i can

[2018-12-03 17:50] andreasb242 commented on #447
@luco5826 The crash was because there was no NULL Check, and the image was not there.
My guess is that the mathtex will not be found, or is not installed. But this will show a Popup.
@TI-Admin did you get an error, that "mathtex-xournalpp.cgi" was not found?

For Packaging we had to change some stuff on the CMake Script.
Maybe this cause an error. But that's only a guess, I didn't analyze more yet

[2018-12-03 18:10] andreasb242 commented on #176
I created a PPA for Ubuntu, I'm currently setting up the build

[2018-12-03 18:48] luco5826 opened #450 "Unable to install (Poppler 0.69)"
Hi!
I've got a problem: I did manage to successfully install Xournalpp something like 3 days ago in order to add a feature, but now that I updated my fork in order to be in sync with your master I can't install it anymore.
`cmake` command returns an error saying that my Poppler version (0.69) isn't supported yet, but it used to work few days ago and I didn't upgrade my Poppler version ever since.

[2018-12-03 18:51] morrolinux commented on #450
You can statically build poppler with
cmake -DBUILD_POPPLER=ON ..

[2018-12-03 19:35] morrolinux commented on #450
I see... Have you tried to get this package via backports? https://packages.debian.org/sid/libopenjpeg-dev
But maybe this dependency should be updated in xournalpp in the first place @andreasb242 what do you think?

[2018-12-03 19:42] andreasb242 commented on #450
The Poppler stuff is really complicated, may the best way would be to allow to switch to a standard installation which don't need additional poppler headers, which useses cairo for export.
So there would not be the issue, that some poppler version is working and some not.
The big issue: No Bookmarks, no Links, all will be lost on export.

**But for now:**

I noticed that the CMake file has been up

[2018-12-03 19:47] luco5826 commented on #450
Thank you very much for your replies!
I tried to modify the MAX_VERSION from 0.68 to 0.69 and the installation goes fine, but then when I try to launch it, a dialog shows up saying that xournal couldn't find any UI file, neither in the relative path nor in the absolute one or in /usr/local/share.
Maybe this is related to another issue but since it came after modifying the CMake file i thought that

[2018-12-03 19:50] andreasb242 commented on #450
try to start it from build directory, does it work then? Some time ago we compiled in the build directory, and this caused errors, so the files should be loaded relative. Sorry for this :-(

[2018-12-03 19:51] andreasb242 commented on #450
I'll do a short fix for this, I have an idea...

[2018-12-03 19:54] l0wl3vel opened #451 "Pressure detection on wayland GTK backend"
When using my Wacom One or the Elan Touchscreen from my Envy X360 with the wayland backend no pressure sensitivity is available. As soon as I switch to GTK_BACKEND=x11 the pressure is picked up correctly. Built from source on Arch Linux and using libinput.

[2018-12-03 20:04] morrolinux commented on #450
Anyway trying to build on my Mac (where POPPLER_ENABLED=ON is by default) is now a problem because of the poppler build:
`UnboundLocalError: local variable 'object_name' referenced before assignment`

[2018-12-03 20:06] andreasb242 commented on #450
https://github.com/xournalpp/xournalpp/pull/452

Will fix the resource loading, but not the Poppler build on Mac ;-)

[2018-12-03 20:12] andreasb242 commented on #451
Hi @l0wl3vel

There are GTK functions to get pressure, but they cause random crashes, if the System has a Touchscreen and a Tablet input at the same time. Really hard to find ;-)

Therefore we use now a Workaround, which solves this crashes. For this I query the axes on the Pen.

can you please open the file: src/control/tools/StrokeHandler.cpp
go to StrokeHandler::getPressureMultiplier (Line 278)

[2018-12-03 20:32] andreasb242 commented on #451
At line 285,

if you change to

it will be working, right?
Can you check the axes of an USB Mouse / Touchpad if you have, if they have 2 or less axes?

[2018-12-03 20:41] andreasb242 commented on #451
Ah, wait, Elan Touchscreen will probably not working anymore, as I don't think this has pressure.
I Probably have to query if the device is a pen. I don't do this today, but probably soon. Do you may have time to retest?

[2018-12-03 20:59] l0wl3vel commented on #451
We are talking about an Elan Digitizer, which has the capabilities for a stylus. The 3 axes for the Elan were for the stylus. And I tested it with "if (axesCount <= 2)" and it worked for the Elan stylus. For the Wacom though it was very faded. Touchpad and a mouse worked normally. I attached an example.
[ElanWacomPressure.zip](https://github.com/xournalpp/xournalpp/files/2641256/ElanWacomPressure.

[2018-12-03 21:09] andreasb242 commented on #451
Ok, thank you for the information.

There are probably two things to do:
- Create a Test Dialog, where a pen can be tested, and which outputs debug information for the developer
- Allow to configure the pen thickness per device

The best option would be to detect it automatically, or create a database e.g. if users tell us problems like this ticket, add a entry to a config file, so this will be fi

[2018-12-04 00:58] Hedronmx opened #454 "Hide menu bar in normal use"
Is it possible to hide the menu bar while in normal usage? I rarely use that menu

[2018-12-04 06:04] andreasb242 commented on #454
No, but this is easy to implementiert

[2018-12-04 08:45] TI-Admin commented on #447
I don't remember having a "mathtex-xournalpp.cgi not found" message.
I just did rebuild the latest version and I get an error message of missing tex.png but no crash.

Btw. "sudo make desktop-install" is no longer working because there are no make rules for this.

[2018-12-04 12:35] l0wl3vel opened #455 "Crashed when using eraser"
[errorlog.20181204-133358.log](https://github.com/xournalpp/xournalpp/files/2643935/errorlog.20181204-133358.log)
[errorlog.20181204-133741.log](https://github.com/xournalpp/xournalpp/files/2643942/errorlog.20181204-133741.log)

Happened when switching from pen to eraser and back via the pen button and erasing again with the pen button in a short timespan

[2018-12-04 16:45] luco5826 commented on #450
Modifyng Poppler Max Version now fixed it! Now even the resources works perfectly!

[2018-12-04 16:45] #450 closed

[2018-12-04 16:50] andreasb242 commented on #176
I would also know a little bit more how to do the build :-)

What I did until now:
make package creates a package.

But then I found out, that's not how PPAs on Launchpad are working.
You create only a source package, NOT a .dep. The source package will then be compiled.

Thanks to @youduda for getting good tipps and fixing my packaging stuff!
I also created some Debian packaging stuff, but I'll d

[2018-12-04 17:06] andreasb242 commented on #455
Does this happen always, or only sometimes?

Does this also happen on X11, or only on Wayland (if you have X11 also installed)

There was already such a crash (X11 / GTK) where I did a workaround.
Do you have a touchscreen? if yes:

can you move with the finger on the screen, and in parallel draw with the other hand with the pen some lines? Does this crash Xournal++?
This way I could easy reproduc

[2018-12-04 17:11] Hedronmx opened #456 "Touchscreen not working as intended"
I've seen the following issue #194 but on my machine is not working as intended.
My setup is to use my touchscreen as hand tool, and that setup currently works on default Xournal App.
What's puzzling is that when I move the screen with my fingers and then touch with my pen, the hand tool movement works. But I have to keep touching with my finger and then with my pen.

I am running Elementary OS Ju

[2018-12-04 17:11] andreasb242 commented on #447
@TI-Admin desktop-install is not needed anymore, I need to update the Readme, you are right.
Can you try mathtex-xournalpp.cgi on command line, and try if it works?

For parameter see LatexController.cpp

May this outputs an error, may this creates a .png.

[2018-12-04 17:38] andreasb242 commented on #456
Wit the GTK3 merge now Touch is handled different. This causes a lot of issues, and also some workarounds.
There needs to be a new configuration page for touch, which is not finished yet #439 .

Currently if the pen is near screen, the touch is disabled (at least it should). Is that may the reason?

[2018-12-04 17:41] luco5826 commented on #447
@TI-Admin Hi! i fixed that problem in the latest PR! Check it out and tell me if it works!

[2018-12-04 17:48] Hedronmx commented on #456
It actually works after touching with the pen, it's like the touch movement gets buffered and only after using the pen it does what it supposed to do.

It might be because on my machine both touch and pen are on the same device.

[2018-12-04 17:53] andreasb242 commented on #456
But they should be technical two different devices, can you check this e.g. in settings dialog, in input devices, in the touch section?

[2018-12-04 18:00] Hedronmx commented on #456
They are, I have Wacom HID (pen) and Wacom HID (Touch)

[2018-12-04 19:22] andreasb242 commented on #455
Ok, so I need wayland to reproduce it.
So erasing does not work with your device at all with X11?

[2018-12-04 19:30] andreasb242 commented on #176
@youduda If you have Time: Help is always welcome ;-)

By the way, I set up a Notebook today, and the xournalpp.desktop is not in the Launcher anymore, so postinst.in has a Bug, which I didn't find yet...

[2018-12-04 19:54] l0wl3vel commented on #455
Since erasing with the Elan Touchscreen in X11 doesn't work in general, I can't be sure. I also can't test it with my wacom, since it has no eraser

[2018-12-05 05:41] guraltsev commented on #412
@andreasb242 The crash doesn't seem to be there anymore. I also have the impression that everything works much smoother. Thanks! You are great. It seems that discarding touch  input doesn't work very well, however. I will open another bug. Thanks

[2018-12-05 05:47] guraltsev opened #459 "Touch events don't get discarded when pen is touching"
I have an ELANTECH stylus on a specter x360.

[code]

I have set up that the touchscreen acts like the hand. It works well, pinch and zoom too. However i noticed that if I hold down the stylus so that its writing and then tap on my screen then the stylus point moves back and forth actually drawing a line across the screen. In other words actions that would register like clicks by my system actuall

[2018-12-05 05:50] andreasb242 commented on #412
Yes, I know, but now crashes with Wayland are reported, and it doesen't work with every device...

I coulden't get the GDK_PROXIMITY_IN_MASK and OUT mask working, therefore I'm looking for pointer movements, the Timeout is currently not configurable. (I created a Ticket).

I could not disable Touch input. I could disable the Zoom gestures, which was easy, and for Scrolling it's a big Issue, I look

[2018-12-05 12:54] luco5826 commented on #447
Awesome! It should even work if you delete the tex.png because we fixed it!

[2018-12-05 13:16] TI-Admin commented on #447
Yes, the tex.png is created again if I delete it.

[2018-12-05 14:58] peetCreative commented on #416
This seems to be a bug with the automatic gtk zooming..

[2018-12-05 16:09] andreasb242 commented on #176
I installed Ubuntu 18.04 again fresh, and the starter Icon was not in the launcher, but after I cliced on /usr/share/applications/xournalpp.desktop it also was available in the launcher.

So not sure whats the point.

[2018-12-05 17:19] guraltsev commented on #412
What about a configurable option of completely disabling the touchscreen via xinput while proximitiy of the pen or eraser is detected. Actually if this is not done via xournal it would be doable via an interface to xinput/libinput directly. Maybe a python script. I'll investigate

[2018-12-05 17:30] andreasb242 commented on #412
I already thought about this, there is also an example:
https://math.berkeley.edu/~auroux/software/index.html

But it would be nice, if this would running as service, e.g. as Indicator applet. Maybe open a TCP Port or something and let it control from Xournal++.

But there are a lot of special cases, you have to think about:

- Wayland support (maybe a different script / different class)
- e.g. my

[2018-12-05 17:35] guraltsev commented on #412
I'll try the linked script. I was searching on the internet and haven't found that script. Probably just having it would be enough for now, until the whole thing with wayland crashes is settled. Thanks.

[2018-12-05 19:47] markwmuller opened #462 "Content of fillable forms lost after save to PDF"
The content of fillable forms is lost after xournal++ export to PDF.

To replicate:
1. Download (e.g.) foersom.com/net/HowTo/data/OoPdfFormExample.pdf and fill out some forms (I did this using evince). Save to PDF.
2. Open PDF with Xournal++, and export to PDF.
3. Open resulting PDF in evince, confirm contents of fillable forms is gone.

Expected result: Form contents preserved.

FWIW, using Xourn

[2018-12-05 19:49] markwmuller opened #463 "Preserve folder when exporting to PDF"
When selecting "export to PDF", the dialogue box always opens at ~. Preferable would be behaviour like "save as", where the dialogue opens at current folder (where original file was).

[2018-12-05 19:52] markwmuller opened #464 ""Big cursor for pen" shows up as normal mouse icon"
Selecting "big cursor for pen" from Preferences/view shows a mouse icon where the pen is. Preferable would be a pen icon / cursor.

[2018-12-06 06:24] #76 closed, assigned to morrolinux

[2018-12-06 15:22] peetCreative opened #469 "File extension xopp vs xoj"
What was the motivation to introduce the new extension? How is the aimed handling of xoj?

[2018-12-06 17:17] andreasb242 commented on #464
No, it's a combination of the pointer and the pen Point.
Please check: There is a colored icon (the normal Pen Cursor) combined with a standard Cursor.

I cannot create a Screenshot with cursor (yes, I can, but it contains my system cursor).
Please recheck. I don't see there anything to change at the moment.

[2018-12-06 17:21] andreasb242 commented on #464
@markwmuller Do you have a High DPI Screen? Please change the Color of the Pen, to check, black is bad visible, thats true.

[2018-12-06 17:35] luco5826 commented on #464
Hi @andreasb242  ! I think he meant somwthing like this!
(This is just a montage)
![window](https://user-images.githubusercontent.com/38291180/49601249-93c61900-f985-11e8-9abb-0c30759bcdd6.png)

[2018-12-06 18:10] andreasb242 commented on #463
Look at bool Control::showSaveDialog()
This is working now...

Generalisation is already done for the Open Dialog:
XojOpenDlg

For the Export / Save Dialog was it not done, because the Export configuration was displayed in a custom Save Dialog. Since I refactored this (Export Setting is an independent dialog now), also the Save Dialog can be generalized like the open Dialog.

[2018-12-06 18:14] andreasb242 commented on #404
@taaem
For sure, you find my Email address in the Git History, I'll check if it also happens for me.
But I cannot promise you a fix time or so, there is really much going on at the Moment, as you see, and I don't have that much time ;-)

[2018-12-06 18:17] andreasb242 commented on #469
If there is a new Attribute or e.g. the new Backgrounds are stored, Xournal will not open the file anymore.
Therefore .xoj is fully backward compatible, and can be opened by Xournal, .xopp is not, you may can read it with Xournal, may not.
Xournal does e.g. not accept a new attribute, or a new value.

Full description:
https://github.com/xournalpp/xournalpp#fileformat

[2018-12-06 18:17] #469 closed

[2018-12-06 18:21] andreasb242 commented on #464
I also need to take a Photo

![grafik](https://user-images.githubusercontent.com/822958/49603647-25388980-f98c-11e8-9ce0-703c5dee12a6.png)

Do you see the red dot?

[2018-12-06 18:29] andreasb242 commented on #464
@markwmuller Please explain why a Pen Cursor would be better?
Even gimp uses such a standard cursor, OK gimp adds the pen icon at the bottom right, but the Main cursor is still looking like the one in Xournal++.

[2018-12-06 18:31] luco5826 commented on #464
I modified my version in order to look like this
![Uploading photo_2018-12-06_19-29-23.jpg…]()
What do you think guys? I think that for the pen tool, only in Big Cursor mode, this could be nicer!

[2018-12-06 18:33] andreasb242 commented on #416
There is no GTK Zooming, this is a Custom Xournal++ implementation.

[2018-12-06 18:39] andreasb242 commented on #464
I personally have the big cursor only enabled on my PC, not on a Tablet, because if the point is controlled with the mouse, it's really hard to seed. But in this case I like a normal looking cursor, which makes sense for me.

When I write with the Tablet, I use the small cursor, because I can control the point really precise with my Pen.

So I currently don't understand why @markwmuller would chan

[2018-12-06 19:09] luco5826 opened #470 "Crash on TextTool"
Hi! I don't know if it's only me but I select the TextTool from the toolbar and add a Text box to my document; as I type Xournal++ crashes.
Do you experience the same issue?

[2018-12-06 19:38] markwmuller commented on #464
Usually, the mouse icon conveys information on what you're doing: "normal" mouse pointer is for clicking: selecting an area, activating a box, etc. Hand icon is for dragging. "arrow-stop" pointer for resizing windows.
Thus, having a pointer that looks like a pen signals that what I'm doing is writing. The mock-up of @luco5826 is exactly the kind of thing I'm thinking of.
@andreasb242 I use the tab

[2018-12-06 19:38] andreasb242 commented on #470
No, but do you have an exception log? it should be in your home, .xournalpp

is it reproducible on your system?

[2018-12-06 19:47] andreasb242 commented on #464
Hmm Ok.

@luco5826 Can you create a Pull request?
Can you leave the code for the old cursor comment out, so if we may need to add an option for both, we can get them easy?
Thank You!

[2018-12-06 20:09] luco5826 commented on #470
Yes, every time I add a Text box, right in the moment when I press a letter on my keyboard, it crashes.
I would wait to create the PR about the Pen cursor in order to be sure that my changes didn't cause it, even if I changed only one file in a small portion

[errorlog.20181206-210729.log](https://github.com/xournalpp/xournalpp/files/2654677/errorlog.20181206-210729.log)

[2018-12-06 20:17] andreasb242 commented on #470
You may set a breakpoint in TextEditor::onKeyPressEvent and then debug. I don't think this has something to do with the cursor... But yes, you can never be sure, It's C++ ;-)

[2018-12-06 20:21] luco5826 commented on #470
I checked it before!
I think that is
`gtk_im_context_filter_keypress(this->imContext, event)` the point giving troubles

[2018-12-07 06:16] andreasb242 commented on #463
@peetCreative

I'm going to try to fix PDF Stuff today I think.
I'll probably do a Cairo only PDF Export, to fix all this bugs we have now, and to get a build without Poppler private Libs.

So I probably change Export stuff. If you didn't start yet on this issue please wait.

[2018-12-07 11:47] peetCreative commented on #463
I've done a bit generalization and I pushed my stuff to. I didn't had time for testing, it should compile. Use it as you want.
https://github.com/peetCreative/xournalpp/tree/fix_export_autonames

[2018-12-07 12:42] andreasb242 commented on #463
Ok, It didn't compile. Therefore I cannot merge it now. I try not to change something with affects you.

[2018-12-07 15:17] andreasb242 opened #476 "Search and Text tool together draws some strange rectangles"
PDF Search should be stopped when the Text Tool start editing - leads to some strange paintings (but no crash)

[2018-12-07 16:01] guraltsev commented on #417
I am working now with the new patchset and nothing changed. The eraser jumps sometimes and erases on its way

[2018-12-07 16:03] morrolinux opened #478 "Rescale LaTeX editor/preview"
When writing "long" latex parts (> 10 words) the preview starts to get too big to fit the screen, and the editor is no longer usable (see the screenshot: https://imgur.com/a/xhbVNtc)
It would be nice for it to scale and stay under a certain size (and maybe even have a multiline textbox)

[2018-12-08 13:39] morrolinux opened #489 "png export with transparent background"
It would be nice ti have an option to export in png format with transparent background

[2018-12-08 13:46] morrolinux opened #490 "PDF Export without paper style"
It would be nice to be able to export pdf(s) without paper style (e.g: dotted, graph, lined, ruled, plain..)
I've thought about two ways of doing this:
* Create an option to apply a chosen paper style to all pages at once, and export with "plain" style applied
* Create a checkbox to decide weather the paper style should be exported or not

[2018-12-08 13:48] andreasb242 commented on #490
Page Background: #69

I first need to fix the travis build for the new dependencies...

[2018-12-08 14:16] guraltsev commented on #412
The script is very helpful. Actually implementing this inside the program would be useful. I believe the old Xournal had this option ("disable touchscreen on use" a checkmark for every device). I still have a small usecase problem: when I am writing I rest my hand on the screen and sometimes lift it to move to a different part of the screen while also lifting the pen. This often causes a jerk in z

[2018-12-08 14:20] andreasb242 commented on #412
I don't know. For now I did a script which is mapped on a hardware button, where I disable the Touch complete. I fixed now a lot of PDF stuff, and I would get a PPA working, so I wont check this at the moment...

But in my Opinion Xournal++ needs to support this, even if it's an additional Script or tool.
I'll look at this for sure, but not now.

[2018-12-08 15:45] andreasb242 commented on #237
This bug is solved with the new PDF Export.

I use now the standard GLib APi, and export the PDF with Cairo.
The old implementation will still be available with -DADVANCED_PDF_EXPORT_POPPLER=ON
Currently Bookmarks are not exported, but with Cairo 1.16 it will also be possible.
So this should solve a lot of problems I hope.

**I Copy this texts to all related tickets **

[2018-12-08 15:45] #237 closed

[2018-12-08 15:45] andreasb242 commented on #283
I use now the standard GLib APi, and export the PDF with Cairo.
The old implementation will still be available with -DADVANCED_PDF_EXPORT_POPPLER=ON
Currently Bookmarks are not exported, but with Cairo 1.16 it will also be possible.
So this should solve a lot of problems I hope.

**I Copy this texts to all related tickets **

[2018-12-08 15:45] #283 closed

[2018-12-08 15:45] andreasb242 commented on #445
Not relevant anymore.

I use now the standard GLib APi, and export the PDF with Cairo.
The old implementation will still be available with -DADVANCED_PDF_EXPORT_POPPLER=ON
Currently Bookmarks are not exported, but with Cairo 1.16 it will also be possible.
So this should solve a lot of problems I hope.

**I Copy this texts to all related tickets **

[2018-12-08 15:46] andreasb242 commented on #462
Should be fixed.

I use now the standard GLib APi, and export the PDF with Cairo.
The old implementation will still be available with -DADVANCED_PDF_EXPORT_POPPLER=ON
Currently Bookmarks are not exported, but with Cairo 1.16 it will also be possible.
So this should solve a lot of problems I hope.

**I Copy this texts to all related tickets **

[2018-12-08 15:46] #462 closed

[2018-12-08 15:47] andreasb242 opened #491 "Linking only needed Libraries (boost)"
The travis build takes long because a lot of Boost Libraries are installed.

But Xournal++ only uses i18n and Path I think. So all other should be removed from linking.
Hopefully the build will be faster, and probably also a future Package / setup is faster installed.

[2018-12-08 16:02] badshah400 commented on #283
Many thanks for fixing this. I will give it a try in the next few days and confirm.

@peetCreative Sorry, I missed your previous message. It turns out that the poppler source tarball was not being extracted at all, as you have rightly figured out. Thanks to you for the help as well.

[2018-12-08 18:54] morrolinux commented on #478
@luco5826 Do you think you can acheive that?

[2018-12-08 18:57] andreasb242 commented on #464
Is merged now, thank you @luco5826

@luco5826 If you write "fixes #ticketID" somewhere in the commit, the Ticket will automatically be closed and liked to the Pull Request.

[2018-12-08 18:57] #464 closed

[2018-12-08 19:36] andreasb242 commented on #491
Done. Build is now about 2 min on travis instead of 8 min

[2018-12-08 19:36] #491 closed

[2018-12-08 23:10] luco5826 commented on #478
@morrolinux I could totally try!
I should modify the LatexDialog and search for an option in mathex for the preferred output size!

[2018-12-09 04:54] badshah400 commented on #283
Total success in building packages from git master! Thanks everyone.
https://build.opensuse.org/package/show/home:badshah400:Staging/xournalpp-gtk3

[2018-12-09 08:56] andreasb242 commented on #283
Hi @badshah400

Is the build running automatically every day or so?
Can we link this on the start page as Official Build for OpenSuse?

I plane the same for Ubuntu...

[2018-12-09 09:06] andreasb242 commented on #478
You can scale it wit cairo. Code hints (not compiling, but in general complete, copied from Xournal++ source)

[code]

[2018-12-09 12:55] morrolinux commented on #478
So.. It is better! but I would have scaled it more (or prevented it to go over a certain size)
See how it's changed on my previous example: https://imgur.com/a/srVKd3D
Do you have it significantly smaller? maybe you're on a HiDPI screen?

[2018-12-09 13:02] morrolinux commented on #478
Ok, I just realized that that happens when I edit an existing latex.
If I create a new one from scratch and paste the same text, here's the result: https://imgur.com/a/YCxY09C
Which is just perfect.
So I guess it's fine overall :)
Thank You! @luco5826

[2018-12-09 13:03] #478 closed

[2018-12-09 13:08] andreasb242 commented on #283
I added it to the main Readme

[2018-12-09 13:10] andreasb242 commented on #176
Ubuntu PPA and OpenSuse Packaging is done. For new Requests please open new Tickets, this was open long enough :-)

[2018-12-09 13:10] #176 closed

[2018-12-09 16:19] luco5826 commented on #478
@morrolinux Awesome!
I'm so happy you found it useful. It still needs some tweaks, including the multi-line editor which is harder then I thought, but when I'll have that implemented i'm gonna focus on the scale factor in order to optimize the size!

[2018-12-09 19:11] Rmano commented on #490
Yep. sorry, I've been cryptic. Suppose you want to prepare an overlay page with some data and maybe a signature with `xournalpp`, and then "stamp" it on a series of documents... I prepared an example, see this zip file:
[stamping-pdfs.zip](https://github.com/xournalpp/xournalpp/files/2660905/stamping-pdfs.zip)

So, I have prepared a signature with `xournalpp` (see the file `signing.xopp`);

![imag

[2018-12-09 19:48] morrolinux commented on #490
This should be done via PNG export with transparent background, I've opened another ticket about it

[2018-12-09 19:56] andreasb242 commented on #490
We paint always a Background to the PDF.
@morrolinux you would anayway a PDF export without Background, this may solve this issue as well without any additional work.

[2018-12-09 20:30] andreasb242 commented on #478
g_source_remove(this->rescaleId); to remove it from queue and g_timeout_add with a timeout from 500ms or so on each key press.

So if the user 500ms does not type, the preview will be updated

[2018-12-09 20:34] andreasb242 commented on #271
![xournalpp-win10](https://user-images.githubusercontent.com/822958/49702563-d6902700-fbf9-11e8-81c7-b15a97b40de0.png)

After a lot of small fixes and some Hacks it's running on my Win10 Test Notebook.

My Building notes (but needs a lot of Code changes! I'll need some time to bring this to Master!)

`install msys2-x86_64-20180531.exe

Start Mingw-w64 64bit. NOTHING ELSE!

Update MSYS (do this mul

[2018-12-09 20:39] andreasb242 commented on #271
The branch with the changes, and some Hacks, therefore can not be merged in this stage:

https://github.com/andreasb242/xournalpp/tree/win-build

[2018-12-10 17:45] luco5826 commented on #478
Hi @andreasb242 sorry to bother you but I'm struggling with the timeout
[code]
Is this the right place where to place the timeout? And then, how can i call the same static functions with two arguments? I'm not quite sure about the right way to do it

[2018-12-10 18:24] andreasb242 commented on #478
I'll do you an example, I have to try it first....

[2018-12-10 18:30] peetCreative commented on #416
mh... That's right.... Took me a while digging through the code. I suspect `Layout::layoutPages` and subsequent (`this->view->pagePosition->update(this->view->viewPages, len, height)`) to make the changes.
Still don't completly understand what is going on there. The function is called three times, when pressing the ZoomIn, ZoomOut or two times when the slider is used. This is probably not the bug,

[2018-12-10 18:31] andreasb242 commented on #478
First: you are in LatexController, you don't need Getter / Setter.
You can direct access member. (you can use getter / setter, but don't make them Public!)

self->setRescaleId(g_timeout_add_seconds(1, (GSourceFunc) timerCallback, self));
You cannot pass two parameter, you need to create a function with one Parameter.

void LatexController::timerCallback(LatexController* self)
{
	XOJ_CHECK_TYPE_OBJ

[2018-12-10 18:32] #463 closed

[2018-12-10 19:39] andreasb242 commented on #416
Yes, probably a Bug, but I sometimes it's not easy to get rid of this, and sometimes it's really needed (e.g. auto layouting boxed layouts)

About Which standard Libraries are you thinking about?

[2018-12-10 21:08] andreasb242 commented on #416
Layout.cpp is mainly the layouting of the pages. It calculates the position of each page, depending on the Zoom and the layout options, like two pages.

The Layout itself does not have any container, the container is in XournalView, and its only an array:
	XojPageView** viewPages;

The whole Displaying is done by GTK, also which part are rendered or not.
The painting is done in gtk_xournal_draw:

[2018-12-10 21:56] markwmuller opened #514 "Pen icon for highlighter in big cursor mode"
(Very minor) Related to #464

When using "big cursor" mode, the highlighter point is quite hard to see. Perhaps the new pen icon can be used for the highlighter mode too, just like the pen mode.

[2018-12-11 18:38] Hedronmx opened #520 "Hand Tool doesn't work work with pen"
Hand tool doesn't work when used with a pen or touch.
I can use hand tool with my mouse.

[2018-12-11 18:54] Hedronmx opened #521 "Export as Dialog don't change extension"
When using "Exporting as ..."  If I change the format on the dropdown, the file extension doesn't change.
The default extension is used which is .xopp
![Imgur](https://i.imgur.com/jnHYl1O.png)

I chose PNG but the file is being saved as .xopp

[2018-12-11 19:06] andreasb242 commented on #520
Confirmed, This is because of a Workaround with Touch Input.

[2018-12-12 01:47] peetCreative commented on #416
I was doing a bit work on it rewriting zooming. But still has the problem. pushed my changes to:
https://github.com/peetCreative/xournalpp/tree/fix_zoom_slider

[2018-12-12 08:36] luco5826 commented on #521
Hi!
Confirmed on my system, right now the only way is to set PNG graphics on the dropdown menu AND manually changing the extension from .xopp or .pdf to .png
We are gonna fix it!

[2018-12-12 15:46] markwmuller commented on #514
I think the normal pen icon would be fine, but maybe it's nice to have a unique icon (at the risk of being kitschy).

[2018-12-12 17:18] andreasb242 opened #522 "Input handling Issues"
There are a lot of specific input handling issues. To fix them all I plan to add a command Pattern, and allow the extending classes to do all the hacks which are needed.

With this the following Tickets should be solved (not at once, but it should be possible to solve all of them without making problems for someone else):
#520
#459
#456
#455
#451
#439
#417

[2018-12-12 18:17] luco5826 commented on #521
@andreasb242 I found a problem:
when using the Export As.. dialog, Xournal++ does its checks only on the extension name, so we could set in the ComboBox PDF Document but, if we name the file with .png it will be exported as PNG.
So I suggest to modify the workflow, instead of checking on the extension after clicking on Export, we check on the value of the ComboBox appending the relative extension

[2018-12-12 22:45] morrolinux commented on #521
I did figure this out while trying to add some export tweaks (like "export with no background"):

We need to get the current filter from `BaseExportJob`:
[code]

And we can call this method somewhere when the dialog hasn't been destroyed yet, like, for example, in `PdfExportJob::isUriValid`:

[code]
You get the choosen filter name printed out

[2018-12-12 23:00] morrolinux commented on #521
Next challenge will be to find a way to call it each time the filter has changed

[2018-12-13 19:08] #490 closed

[2018-12-13 19:08] #489 closed

[2018-12-13 19:58] #514 closed

[2018-12-13 20:06] andreasb242 commented on #522
After some reserch, and some tests the current Result:

Ubuntu 18.04 with GTK 3.22.x is working perfect
Ubuntu 16.04 with GTK 3.18.x don't allow to compile the Sample (and Probably does not support all features)
Windows with MSYS2 and GTK 3.24 Compiles, but does not detect the Tablet, no events. The Tablet itself is working in other applications.

It's complicated. Because of this there are so man

[2018-12-13 20:17] andreasb242 commented on #522
After starting the GTK3 Tablet example with --gtk-debug=input Pressure sensitivity is working and the Pen is detected!

But even if I restart the sample without debug option, still working.

[2018-12-14 15:47] luco5826 commented on #470
Hi @andreasb242 ! I found a workaround, and as I thought, the problem is not in Xournal++.
Googling around I found this very similar issue
[](url)https://github.com/p-e-w/finalterm/issues/364
and his fix worked for me!
As my debugging process found out, the problem is in `gtk_im_context_filter_keypress` but I don't know why this happens, neither how to permanently fix it!

[2018-12-14 15:55] andreasb242 commented on #470
unset GTK_IM_MODULE fixes this issue, as a workaround.

What is then your value before you unset it?

mine is ibus.

$ echo $GTK_IM_MODULE
ibus

[2018-12-14 16:12] luco5826 commented on #470
Mine is `xim` , but I sincerely don't know what that means, I'm on Debian Buster (testing) with 4.18.0-3-amd64

[2018-12-14 16:13] luco5826 commented on #470
And now if I launch Xournal++ with
`GTK_IM_MODULE=ibus ./src/xournalpp ` it works!

[2018-12-14 16:16] andreasb242 commented on #470
And if I set it to xim it crashes!

`GTK_IM_MODULE=xim xournalpp`

So this is not solved yet. If we cannot fix it, we should at least show an error to the user, that we don't support this configuration!

[2018-12-14 16:21] andreasb242 commented on #470
https://unix.stackexchange.com/questions/260601/understanding-setting-up-different-input-methods

Hopefully this is true, so my Idea would be to check for xim, and set the environment var BEFORE the gtk_init to ibus.
Should be not more than a few lines of code, and add a g_warning so the user see there is an issue.

What do you think? You may do this?

[2018-12-14 16:40] #470 closed

[2018-12-14 17:42] morrolinux opened #531 "Latest build segfaults on startup"
When I launch xournalpp, here's what happens:

[code]

[2018-12-14 17:43] andreasb242 commented on #531
Something to do with:
https://github.com/xournalpp/xournalpp/pull/530
?

[2018-12-14 17:45] morrolinux commented on #531
I'm gonna guess it does since it's the only change since my last successful build

[2018-12-14 18:22] luco5826 commented on #531
Hi @morrolinux what does your `echo $GTK_IM_MODULE` command print?

[2018-12-14 18:42] #531 closed

[2018-12-14 18:43] luco5826 commented on #531
I'm sorry, I found the one I think was the error, a missed NULL reference check

[2018-12-14 19:52] andreasb242 commented on #522
First partial Pull Request https://github.com/xournalpp/xournalpp/pull/533

[2018-12-15 07:25] andreasb242 opened #534 "Translation handling, also for Win / Mac"
Make sure translations are compiling and loading for Windows / Mac OS

[2018-12-15 18:49] andreasb242 commented on #417
I changed the complete input handling, now we have one handler instance for each device. It may changes the behavior, but probably not.
But can you may retest?

[2018-12-15 18:49] andreasb242 commented on #451
This should work now. If not, reopen.

[2018-12-15 18:49] #451 closed

[2018-12-15 18:50] andreasb242 commented on #455
This should be fixed now. if not, reopen.

[2018-12-15 18:52] andreasb242 commented on #520
This is fixed now

[2018-12-15 18:52] #520 closed

[2018-12-15 19:03] andreasb242 commented on #522
Thew new input handling is merged, not all referenced tickets are solved, but some of them.

[2018-12-15 19:03] #522 closed

[2018-12-15 19:04] andreasb242 commented on #415
Confirmed

[2018-12-15 19:06] #476 closed

[2018-12-15 19:15] #445 closed

[2018-12-15 19:19] l0wl3vel commented on #455
Still segfaults with the latest build

[2018-12-15 19:32] andreasb242 commented on #455
I have now a System set up with Ubuntu 18.04, Wayland and a Wacom Tablet with Eraser. I don't have an eraser button, I have an eraser on the back of the Pen.

When did you build? Now? The changes I did were merged a short time before ticket close.

Can you tell me which hardware and Software you have installed?
Is it a Wacom Tablet or something else?
Which Distribution / Version?

Can you may run

[2018-12-15 19:39] andreasb242 commented on #411
Looks like a Boost exception, which is not cached. It should now be fixed: you will get an error message, which the reason (may there is another fix needed, we will see)

[2018-12-15 19:40] l0wl3vel commented on #455
[code]

Ran a debug build with gdb

[2018-12-15 19:44] #411 closed

[2018-12-15 19:47] andreasb242 commented on #455
Can you get a full backtrace in GDB?
(I think "bt" but not sure, I usually use an IDE)

[2018-12-15 19:50] l0wl3vel commented on #455
Running an HP Envy X360 15-bq102ng with Arch 4.19.8 AMD Ryzen 5 2500U and ELAN 0732:00 Touchscreen/Pen Digitizer Combo.
[code]

[2018-12-15 19:58] andreasb242 commented on #455
With this Stacktrace it looks for me like a GDK Problem. But it may also be a memory corruption from Xournal++ (really hard to find).

I get the Inputhandling from GTK Examples.
Can you install gtk3-examples, which contains the "gtk3-demo".

Start gtk3-demo, and in the left tree go to the second last entry "Touch and Drawing Tablets", and click the "Run" botton on the top left.

Now do the same wh

[2018-12-15 20:01] l0wl3vel commented on #455
Tried it the demo and it segfaults. So it is apparently an gtk3 problem.

[2018-12-15 20:02] andreasb242 opened #541 "Disable touch if pen is near"
The touch should be disabled if the Pen is near the screen.

[2018-12-15 20:02] andreasb242 commented on #456
I reworked the input handling, I hope this is fixed.

Currently the thouch won't be disabled on drawing, which is an issue, but really hard to solve (only with hacks).

So I close this ticket, I created one for the Touch disable #541

If the problem still exists, you can reopen the ticket.

[2018-12-15 20:02] #456 closed

[2018-12-15 20:06] andreasb242 commented on #455
Thank you. You may create a backtrace from the demo and Report it to GTK or to Arch.
I'll close this Ticket, as it's not a Xournal++ bug.

If you create an Upstream Ticket, can you please post the link here? As may other users are affected by this bug.

Thank you really much for your detailed post - it's nearly impossible to find bugs like this without the help from reporters!

[2018-12-15 20:06] #455 closed

[2018-12-15 20:46] andreasb242 commented on #271
Build on Windows 10 is working, the howto is here:
https://github.com/xournalpp/xournalpp/blob/master/readme/WindowsBuild.md

[2018-12-15 20:46] #271 closed

[2018-12-15 20:47] andreasb242 commented on #224
PPA is working. We probably don't do releases soon, but there is an automatically build for Ubuntu and Suse, and Windows is compiling (and mostly working) so I close this ticket now.

[2018-12-15 20:47] #224 closed

[2018-12-15 22:32] peetCreative commented on #416
While trying to solve this. I found out that my changes in #526 causes problems with shift zooming. Maybe rewert #526.

[2018-12-16 09:54] andreasb242 commented on #416
@peetCreative  I have a look at this

[2018-12-16 11:11] andreasb242 opened #548 "Create Setup for Windows"
Create an NSIS Setup for Windows, and upload a release to Github.

[2018-12-16 11:13] andreasb242 commented on #416
Basically working, but not perfect.
I currently store only the page, not the position of the page.
And if the page is so small, that multiple pages are displayed, the zoom may change the page to one of them.

[2018-12-16 11:17] andreasb242 commented on #404
Xournal++ probably cannot fix this issue, I looked at an example PDF, which is big and loads slow, but except of this was nothing special.

Should we smooth the values mathematically? Add an option to enable this, and hope this makes it better, even this would not be a real solution, it should probably fix the issue.

What do you think
@taaem  @markwmuller ?

[2018-12-16 12:35] andreasb242 commented on #404
No, I have currently only one Notebook with running wayland, and it has no Touchscreen.
I won't test this today for sure.

If you whish to help:
please install gtk-3-example and search for an example with Zoom gesture, if you find one, check if it's working.
If it's working we can take this as example for Xournal++.

[2018-12-16 12:43] Hedronmx opened #550 "How often is the PPA updated?"
I would like to know how often is the PPA updated with builds. Thanks!

[2018-12-16 13:03] andreasb242 commented on #550
There is no time set (not sure if I even can).
The git repo is updated automatically.

https://code.launchpad.net/~andreasbutti/xournalpp/+git/xournalpp

https://code.launchpad.net/~andreasbutti/+recipe/xournalpp-daily

So it build maybe about 4 times a day, if there are changes.
The timing depends on the server load, but it should be a current build.

The package is not marked as urgent, so you w

[2018-12-16 13:47] andreasb242 commented on #548
There is now a packaging script: windows-setup/build-setup.sh

* Translations are compiling, but the path needs to be fixed
* There is a DLL or config missing, pressure input is not working. I don't know what is missing at the moment

[2018-12-16 18:55] #550 closed

[2018-12-16 19:40] andreasb242 commented on #548
https://github.com/xournalpp/xournalpp/releases/tag/1.0.3-win-alpha-01

[2018-12-16 19:54] andreasb242 commented on #534
For windows it's now compiling, but the translation seems not to be loaded, even if the path should be correct now.

[2018-12-17 17:04] taaem commented on #404
I just checked and it works perfectly smooth in gtk3-demo

[2018-12-17 17:14] andreasb242 commented on #404
Ok, so we should compare it with our. And find the difference ;-)

[2018-12-17 18:06] taaem commented on #404
Just found something out, the zooming bug only happens if the pdf was already scrolled past the first page. So on the first page zoom works fine but once on page 2 or higher it is broken.

[2018-12-17 19:02] andreasb242 commented on #404
I expected something like this, I currently expect that some coordinates are relative to the page instead of absolute of the screen or something like this.

[2018-12-17 19:20] taaem commented on #404
Don't know if that's related but in presentation mode I can only zoom in and not out. But the bug doesn't happen.

[2018-12-17 20:09] andreasb242 commented on #548
Fixed

[2018-12-17 20:09] #548 closed

[2018-12-18 08:36] morrolinux opened #558 "Selected elements change colour when moved"
Steps to reproduce:
1) With your mouse, chose the tool "pen" (default colour is black, any will do)
2) With your pen, use the "select region" or "select rectangle" tool to move a group or a single element
3) the element(s) have now changed colour to match the "pen" colour set with your mouse
![peek 18-12-2018 09-34](https://user-images.githubusercontent.com/20294254/50141624-46607a80-02a8-11e9-997

[2018-12-18 17:10] andreasb242 commented on #558
There is a color changed event to much... Because if there is a selection, and you select another color, it changes the color.

[2018-12-18 17:16] andreasb242 opened #559 "CTRL+Scroll zooms always out"
CTRL+Scroll wheel makes it always smaler, don't matter in which direction it's scrolled.

[2018-12-18 22:32] peetCreative commented on #404
That's similar to the ctrl + scroll zoom problem   in `ZoomControl.cpp`
 `event->direction` is GDK_SCROLL_SMOOTH so it goes to zoom out directly.
I'm working on it

[2018-12-18 22:37] peetCreative commented on #559
I'm working on it and it's because of in `ZoomControl.cpp` the event->direction is GDK_SCROLL_SMOOTH
Just have to use event->delta_x

[2018-12-19 03:15] orki opened #560 "Exact Fedora 29 build dependencies"
`sudo dnf install libxml2-devel cppunit-devel gtk3-devel boost-devel cmake-gui texlive-scheme-basic texlive-dvipng poppler-glib-devel`

This was tested with a fresh installation of Fedora 29 workstation.

[2018-12-19 12:08] luco5826 commented on #558
I don't know why but this doesn't happen to me

![ezgif-4-88fed93383d2](https://user-images.githubusercontent.com/38291180/50219327-29eb3d80-038f-11e9-955f-b250a57f99da.gif)

[2018-12-19 12:11] luco5826 commented on #560
Hi!
Thank you, could you create a Pull Request where you modify the readme/LinuxBuild.md file with the right install method?

[2018-12-19 12:38] morrolinux commented on #558
@luco5826 Have you chosen the "Pen" tool with your mouse, but selecting and moving with the pen?

[2018-12-19 12:39] luco5826 commented on #558
Oh sorry, I misread! I have no pen to test it right now!

[2018-12-19 16:47] peetCreative commented on #404
@WPettersson Can someone explain what is happening in XournalView.cpp::getZoom()
[code]
This looks weird for me...

[2018-12-19 17:44] andreasb242 commented on #404
This looks like fit the page to the screen size?

[2018-12-19 17:51] #560 closed

[2018-12-19 17:54] andreasb242 commented on #558
I expect the error is caused by InputSequence::changeTool(), which is now called more often. I'll look at it.

[2018-12-19 17:55] andreasb242 commented on #560
@orki nearly forgot: Thank you, for the Information!

[2018-12-19 19:00] #558 closed

[2018-12-19 19:01] andreasb242 commented on #558
The bug was not that worse than I thought, because it only appears in a very specail case, but anyway, it's fixed.

[2018-12-19 22:01] WPettersson commented on #404
Yup, in presentation mode it sets the zoom value to fit the page to the screen size.

[2018-12-20 05:51] andreasb242 commented on #534
Currently Boost and gettext is used. On Windows there are some Problems, currently I replace Boost with gettext, which is used by GTK, so the translations are loaded once and everywhere with the same Library.

[2018-12-20 11:54] morrolinux commented on #416
I'm sorry to say this, but 8de93a8d26b7dcf65e10ba519ec690c2f20bd084 totally broke the "pinch to zoom" feature for touch devices.
Here's what the previous commit (cde933f56b4b14983b72674072ecd28e7dc5b8c9) looks like:
![peek 20-12-2018 12-49](https://user-images.githubusercontent.com/20294254/50283297-c24bf580-0455-11e9-9072-b7a31e883b7c.gif)

And Here's what this commit (8de93a8d26b7dcf65e10ba519ec

[2018-12-20 17:33] morrolinux commented on #521
I think it would be acceptable :) what do you think @andreasb242 ?

[2018-12-20 17:41] morrolinux commented on #189
It does compile flawlessly on MacOS, and I've read that you could build the .app with cmake + cpack
But I really don't have time for this

[2018-12-20 21:51] andreasb242 commented on #416
Sorry, i'll have a look at this

[2018-12-21 12:49] #559 closed

[2018-12-21 15:08] andreasb242 commented on #521
Yes, for me would this be OK, but you have to think about the "Do you want to overwrite" check, which you may need to reimplement.

I checked how GIMP handle this: They add additional to the filter a Type selection.
![grafik](https://user-images.githubusercontent.com/822958/50348893-63ac7780-053a-11e9-81ac-059ac15d9832.png)

If you don't add an extension, and don't select an extension, they don't

[2018-12-21 15:18] andreasb242 commented on #189
The Problem would probably be to pack the GTK Libraries. But I already solved this for Windows.
A macOS .app is only a folder with some XML and a defined structure, is therefore relative easy to create.

Currently I don't plan to work on this ticket.

[2018-12-22 10:33] andreasb242 commented on #416
should be fixed with https://github.com/xournalpp/xournalpp/pull/565/files

[2018-12-22 10:43] andreasb242 commented on #404
https://github.com/xournalpp/xournalpp/pull/565/files
I'm not sure, but I referenced the gesture now to the parent, and I calculate the coordinates now relative to the window.

Please retest. Reopen if still present.

[2018-12-22 11:16] luco5826 opened #567 "Gtk3 version update?"
Hi!
I was trying to fix some make warnings about deprecated methods, but the Travis CI build failed because it is still building on Ubuntu Xenial which uses gtk 3.18. Would it be a problem for Xournal++ to upgrade at least to Ubuntu 17 in order to get Gtk 3.22? I saw in PageTemplateDialog.cpp that using Gtk 3.22 makes the dialog a lot smaller and simpler reducing a lot the code complexity.
This is

[2018-12-22 11:50] andreasb242 commented on #567
https://docs.travis-ci.com/user/reference/overview/

At the Moment. No.

Update Ubuntu 16.04 with PPAs would be an option, but it would make the Build slower, so at the Moment I would simply say no.

They added Ubuntu 16.04 a short time ago, so I don't expect a change at the Moment:
https://github.com/travis-ci/travis-ci/issues/9460

But to clarify: I brought the GTK3 branch to master not a long t

[2018-12-22 11:56] andreasb242 commented on #567
I close this ticket now, if you have a solution for a Build, or (later) Travis CI supports Ubuntu 18.04, we can update.
@luco5826 OK?

[2018-12-22 11:56] #567 closed

[2018-12-22 11:59] luco5826 commented on #567
@andreasb242 Awesome! I didn't know Travis doesn't support Ubuntu 17 or later! I'm gonna search for a workaround in the meantime!

[2018-12-22 12:03] andreasb242 commented on #567
Ok. You may also register for Notification on the Tickets of travis, so you get notified if they support it. It's a Github ticket...

[2018-12-22 12:12] taaem commented on #404
Just tested it and sadly it still happens but now also, without any PDF loaded with a blank page.
Don't know if thats related but I get
[code]
in the logs

[2018-12-22 12:13] ThoFrank opened #569 "Pressure sensitivity not working on Mac"
In Mac OS pressure sensitivity of my wacom bamboo tablet is not working.
I dug around in the code and found that pressure is read in
`src/gui/inputdevices/InputSequence.cpp: getInputDataRelativeToCurrentPage() : line 474`
The value of pos.pressure however does not change.  Currently unsure on how to tackle this.

In Gimp it is working correctly.

[2018-12-22 12:27] #534 closed, assigned to andreasb242

[2018-12-22 12:33] andreasb242 commented on #404
Yes I know this warning, sometimes I don't get the end event, it's random. I get the event that input start, but not when the pen is released, and If i then query the pen, to check if it's still there, GTK warns because the pen is gone. But this works.

If you zoom with CTRL+Scrollwheel its working now, or is this also not working?
This is now the same handling, just would make sure, that we have

[2018-12-22 12:35] taaem commented on #404
Ctrl + Scroll wheel is working perfectly!

[2018-12-22 12:42] andreasb242 commented on #569
There is a GTK Example. May you can install it over macports or what you are using.

If not, compile it yoursel:

[exampleinput.c.zip](https://github.com/xournalpp/xournalpp/files/2705183/exampleinput.c.zip)

Gimp is using GTK2, we are using GTK3.

Currently macOS is not official supported by Xournal++, because no developer has currently time for this.
So if you have time, help is welcome, even if

[2018-12-22 12:56] andreasb242 commented on #404
So we need to understand what's the problem with GTK Gesture. Have a look at "gtkgesturezoom.c".
https://github.com/GNOME/gtk/blob/master/gtk/gtkgesturezoom.c

In my opinion you should try to get the points:

and print out x1, y1, x2 and y2, and check which of the point is jumping or so.
Do you agree? Or does anybody have a better idea?

Still: I cannot reproduce it on my system.

[2018-12-22 13:00] taaem commented on #404
I just found something out, if I comment out:
[code]
in XournalView->zoomChanged() it stops jumping around, it obviously doesn't zoom in where its supposed to, but it doesn't glitches out.

[2018-12-22 13:03] taaem commented on #404
Maybe it is some kind of race conditions, where the layout changes and a zoom event is fired and everything goes down. If I look at the scale value reported by Gtk with the line above commented out, nothing jumps. If I leave the line I get these 300, values randomly in between.

[2018-12-22 13:11] andreasb242 commented on #404
I also expected this, because of this I added the Gesture to the parent, and not to the Xournal Widget, which is moved. But even Then, I get coordiantes which are on the Xournal widget (y=16000 and more, where my Screen has only 1200px)
But it's hard to find the real issue...

[2018-12-22 13:59] andreasb242 commented on #189
Compiling on Mac is working, Packaging not yet so I close this ticket now

[2018-12-22 13:59] #189 closed

[2018-12-22 14:00] #417 closed

[2018-12-22 14:05] andreasb242 commented on #260
On this ticket was already some changes. For me it's not clear what to do now. I close it. For new bugs please open a new Ticket.

[2018-12-22 14:05] #260 closed

[2018-12-22 15:07] taaem commented on #404
Maybe its easier to copy some code from evince https://github.com/GNOME/evince/blob/master/libview/ev-view.c because in their implementation everything works for me.

[2018-12-22 15:36] peetCreative commented on #404
mh... On my fix branch https://github.com/peetcreative/xournalpp/tree/fix_zoom_slider scrolling zoom and Slider zoom is working roughly. But I think I have to merge a lot of things.

[2018-12-22 15:43] andreasb242 commented on #404
Scrolling zoom and Slider is now working. Only gesture touch is not working on some devices, on mine it's also working.

I merged the handling together, now touch and scroll use the same handling.
The Problem is the gesture handling on some devices.

[2018-12-22 15:46] peetCreative commented on #404
OK it's not working for me. It's still scrolling to fast and far.

[2018-12-22 16:17] peetCreative commented on #416
I just try to find out why your changes do not fix the problem for me.

[2018-12-22 16:31] andreasb242 commented on #416
What's happening?

[2018-12-22 16:33] andreasb242 opened #574 "Windows: PDF Not working"
On Windows 10 PDFs are not loaded, looks like a path issue.

[2018-12-22 16:35] andreasb242 opened #575 "Windows: Translation issues"
There are encoding / translation issues, which needs to be fixed.

After replacing the Boost::translation with glib everywhere are the same issues. (as expected)

[2018-12-22 16:53] peetCreative commented on #416
I think the widget Position is not scaled.

[2018-12-22 17:20] ThoFrank commented on #569
Thanks!
So here is what I found out:
gtk is currently not supporting advanced tablet features ( see [issue](https://gitlab.gnome.org/GNOME/gtk/issues/1392) ). Demo only shows pointer location and only default device.

For [myPaint](https://community.mypaint.org/t/how-to-build-mypaint-on-mac-osx-without-macports/344/2) there was a huge workaround using x11 and a few patches.
I will try to look into

[2018-12-22 17:49] #416 closed

[2018-12-22 17:53] luco5826 commented on #574
Do you refer to the "Annotate PDF" action?

[2018-12-22 17:57] andreasb242 commented on #416
My the discussion should be here in the Ticket.

I comment the pull. I'll copy to here.
https://github.com/xournalpp/xournalpp/pull/576/

----
@peetCreative Is this really working for you? How did you test this?

Even with the mouse and with the touch it doesn't work.
If I do a review, I look at code, like possible crashes, something which looks really wrong or so, and I probably don't see a bug.

[2018-12-22 17:59] andreasb242 commented on #574
No, generally.
I think I found the issue, Windows uses Backslashes, and the file URI is not valid anymore with backslashes, probably they only need to be replaced with slash.

[2018-12-22 19:44] andreasb242 commented on #574
g_filename_to_uri does the trick. Replacing backslash with slash does not work.

[2018-12-22 19:46] #574 closed

[2018-12-22 20:38] #575 closed

[2018-12-22 20:39] luco5826 opened #583 "Bug with highlighter"
Hi! I've got a problem, whenever I try to highlight something or generally using the highlighter, the stroke is fine until I end it, then after one/two secs it does something like re-render the stroke but not every point, just some of them, resulting in a less transparent stroke or a messy output

![ezgif-4-2aee7208b1b7](https://user-images.githubusercontent.com/38291180/50378405-fbd95800-0631-11e

[2018-12-22 21:13] andreasb242 commented on #583
Confirmed, I have a look at it

[2018-12-22 21:52] #583 closed

[2018-12-22 22:46] andreasb242 commented on #569
The issue you mentioned is not very old:

May we should check if we get a patch for GTK instead of trying to do it in Xournal++.
This example (which is not the right four us, for sure) is looking really simple.
https://developer-docs.wacom.com/display/DevDocs/macOS+X+Sample+Code+Downloads

[2018-12-22 23:01] andreasb242 commented on #569
On this bug is a patch attached!
https://bugzilla.gnome.org/show_bug.cgi?id=695701

It's not that much.
https://bug695701.bugzilla-attachments.gnome.org/attachment.cgi?id=241615

They migrate the Bugzilla to gitlab, because of this I put this patch also here as attachment:
[0001-Quartz-Tablet-pressure-support-draft-2.patch.zip](https://github.com/xournalpp/xournalpp/files/2705599/0001-Quartz-Table

[2018-12-23 11:59] #69 closed

[2018-12-23 20:38] peetCreative opened #595 "Coverity scan fails because of include for 90%"
I try to compile xournalpp with cov-build for coverity scan. But it is failing on same extern error in `/usr/include/c++/8/type_traits` for almost all files. This results in 90% failure. Anybody an idea?

[code]

[2018-12-23 20:48] andreasb242 commented on #595
Does not happen on my system. it gots 100%. I try to upload it.

[2018-12-23 20:59] andreasb242 commented on #595
I got a mail.

So for now I think we have to wait?!

[2018-12-24 21:37] andreasb242 commented on #521
Fixed with https://github.com/xournalpp/xournalpp/pull/594

[2018-12-24 21:37] #521 closed

[2018-12-24 23:08] andreasb242 opened #598 "Fill Stroke Toolbar Icon"
Fill Stroke needs additional to the menu also a Toolbar Icon

Additional to #85

[2018-12-24 23:09] andreasb242 opened #599 "Fill Stroke Settings"
Fill Stroke needs to save all settings to the settings file, additional the Tool Config needs additional selection for Tool fill, e.g. for default Tool, For Button / Pen mappings etc.

Additional to #85

[2018-12-24 23:13] andreasb242 opened #600 "Fill Stroke - Highlighter"
Probably CAIRO_OPERATOR_OVER / CAIRO_OPERATOR_SOURCE is wrong for fill highlighter. This needs to be checked.

[2018-12-24 23:13] andreasb242 commented on #85
Basically fixed by https://github.com/xournalpp/xournalpp/pull/597

[2018-12-24 23:13] #85 closed

[2018-12-25 14:01] #600 closed

[2018-12-25 15:40] luco5826 opened #604 "Make uninstall forgets some folders"
I don't know if this is an issue, but when executing `sudo make uninstall` there is a thing:
if Xournal++ has been installed with `sudo make install`, the uninstaller leaves `/usr/local/share/xournalpp` directory and the empty directories inside it. Not a problem nor a high priority bug, but I think this could be easily fixed

[2018-12-25 15:59] andreasb242 commented on #604
Yes, it's not a bug, it's a feature ;-)
I don't find it in the documentation now, but it's documented like this, they don't delete on uninstall. I also noticed that. I'm not sure how hard it is to delete the empty folder, there are some entries on stackoverflow.

[2018-12-25 16:00] luco5826 commented on #604
Fantastic! Good to know it!

[2018-12-25 16:00] #604 closed

[2018-12-26 08:57] andreasb242 commented on #273
The camera is not as good as a handy camera. Probably better spend time to the drag & drop handling.

[2018-12-26 19:15] #78 closed

[2018-12-27 10:11] andreasb242 commented on #454
Keyboard shortcut to show / hide menu is F10. If the menu is hidden, other menu shortcuts are not working anymore. F10 will show the menu again, and a restart will show the menu also again.
If there is a global menu active, the Menu item will be hidden.
If you like to hide the menu permanently, create a new bug. I'm currently not sure if this makes sense, and I don't use this anyway, as I have glo

[2018-12-27 10:13] #454 closed

[2018-12-27 14:49] luco5826 opened #623 "100% CPU on startpu"
Hi!
I think this is related to #323 , when I launch Xournal++ I get 100% usage on one core until I disable "Show Sidebar", then the CPU usage falls down and stays down even if I re-enable the Side bar.
Maybe there's a loop at startup concerning the sidebar?
![schermata del 2018-12-27 15-44-08](https://user-images.githubusercontent.com/38291180/50484083-00fe2480-09ef-11e9-8eaf-d4f92a75efbd.png)

[2018-12-27 14:53] andreasb242 commented on #623
I'll have a look at this. I already thought about disabling all the stuff if it's not visible, probably this will solve the loop. I didn't have the loop, as I forgot (again :-|) to check without sidebar...

[2018-12-27 14:53] #541 closed

[2018-12-27 14:54] andreasb242 commented on #439
Fixed with https://github.com/xournalpp/xournalpp/pull/622

[2018-12-27 14:54] #439 closed

[2018-12-27 14:54] andreasb242 commented on #459
This should now be fixed, but you need to configure touch disabling in the Settings. New Tab "Touch", X11 is working, and Custom workaround should also work.

Wayland has currently no implementation (except custom scripts)

https://github.com/xournalpp/xournalpp/pull/622

[2018-12-27 14:54] #459 closed

[2018-12-27 14:58] andreasb242 commented on #623
Reproduced, looks like the same as last time, but this time with the Layer Sidebar... I try to disable everything if the sidebar is not visible...

[2018-12-27 21:16] andreasb242 opened #626 "Drag and drop Location of images not handled"
In MainWindow::dragDataRecived the image is dropped somewhere, but not at the correct location on the page. The Coordinates needs to be converted, like any other mouse input.

This is not done yet.

[2018-12-27 21:26] andreasb242 opened #627 "Check if there is an emergency saved document"
On startup after a crash, if there is an emergency saved document, ask the user what to do:
* Save as (show save dialog), open it
* Delete the file

see XournalMain::checkForEmergencySave

[2018-12-27 22:32] andreasb242 opened #631 "Boost Path encoding issue"
GTK uses by default everywhere UTF-8 encoded Strings.
boost::path uses special cases for Winapi etc. and coverts strings automatically to wchar_t for WinApi etc.
This is not compatible with GTK, and files with special characters in the Name, like "ääü" cannot be opened.

My Idea: use a custom wrapper, which contains a String and uses GTK Functions for file handling.

[2018-12-28 11:11] piegamesde opened #633 "AUR package file conflict with xournal"
I have xournal installed and tried to install xournalpp:

    error: failed to commit transaction (conflicting files)
    xournalpp-git: /usr/share/icons/hicolor/scalable/mimetypes/application-x-xoj.svg exists in filesystem (owned by xournal)
    xournalpp-git: /usr/share/mime/packages/xournal.xml exists in filesystem (owned by xournal)
    xournalpp-git: /usr/share/mimelnk/application/x-xoj.deskt

[2018-12-28 11:12] andreasb242 commented on #633
Ok, we have to rename this file.

[2018-12-28 17:30] #631 closed

[2018-12-28 17:31] andreasb242 commented on #595
Still not working

[2018-12-28 17:44] andreasb242 commented on #633
https://github.com/andreasb242/xournalpp/tree/naminig-conflicts

Now open .xoj files does not work anymore.
@morrolinux / @luco5826
Any hint?

[2018-12-28 18:47] #626 closed

[2018-12-28 19:47] morrolinux commented on #633
@andreasb242 Sorry, what do you mean by that? The file do not open with xournalpp by double-clicking it from desktop / the xoj files does not open from inside xournalpp -> open / what else?

[2018-12-29 09:31] andreasb242 commented on #633
I changed the names, as this would solve the issue, but now .xoj files are not associated anymore with Xournal++. No Icon, no double click, no Preview.

[2018-12-29 10:06] #627 closed

[2018-12-29 10:39] andreasb242 commented on #569
I wrote to the GTK Mailing list for a contact person. It don't look like a big problem.

[2018-12-29 12:31] #598 closed

[2018-12-29 13:16] #599 closed

[2018-12-29 14:06] andreasb242 opened #644 "Rotating Images not working"
Rotating is displayed for images, but not working.
In my opinion rotating of images is not needed for Xournal++, and simple should be disabled.

[2018-12-29 16:20] morrolinux commented on #644
it's a feature I would use if it was present.
I have a few ideas on how to implement this, I just need some time to try some implementations (soon, but not too soon)

[2018-12-29 17:59] andreasb242 commented on #375
So the idea: Make the path for `pdflatex` configurable, check it on the first usage. If not there, notify the user. This is also working on Windows.

Then use the GLib functions to executable, so it will work on other Plattforms.
https://developer.gnome.org/glib/stable/glib-Spawning-Processes.html

mathtex.c can then be removed.
Would this be Ok for anybody? I don't implement it now...

[2018-12-30 09:04] andreasb242 commented on #130
Drag and drop is not easy to implement, and does not fit the current implementation, but layer move should be possible.

[2018-12-30 09:12] andreasb242 opened #650 "Allow to hide background layer"
The background can currently not be hidden. Needs to be implemented

[2018-12-30 10:00] andreasb242 commented on #181
The selected Page / Layer is always the editing page, therefore this is technical difficult, and also from usability view a little issue.
As this ticket is older, I close it now with WONTFIX.

[2018-12-30 10:00] #181 closed

[2018-12-30 10:01] andreasb242 commented on #130
Moving Layer is now possible. So I close this ticket, even without drag & drop.

[2018-12-30 10:01] #130 closed

[2018-12-30 10:37] andreasb242 commented on #644
@morrolinux You can do this any time, for now I disabled rotation if there is something else than stroken selected.

[2018-12-30 10:40] #644 closed

[2018-12-30 11:15] andreasb242 commented on #633
If all entries are renamed it's working.
@piegamesde Please recheck. Reopen the Ticket if not working. Thank you.

[2018-12-30 11:19] andreasb242 commented on #633
I clicked the wrong button - close again...

[2018-12-30 11:19] #633 closed

[2018-12-30 12:44] andreasb242 opened #658 "Windows: Recent Menu bug"
Open entries from recent menu with Unicode Chars does not work - encoding issue.

[2018-12-30 12:46] andreasb242 opened #659 "Windows: Pressure sensitivity does only work after second start"
On the first start pressure sensitivity is not available, after restart it's working.
As this is probably a GTK issue there will probably be no real fix, instead create a workaround.

[2018-12-30 12:47] andreasb242 opened #660 "Windows: GTK Translation missing"
Xournal++ translation are loaded, but the GTK / GLib translation are missing.
So all Stock menu entries are not translated.

[2018-12-30 13:09] #658 closed

[2018-12-30 15:12] badshah400 commented on #283
Sorry for the late response. The build runs semi-automatically, i.e. I need to "trigger" the services to download the latest git master and from there on the build happens automatically. Typically, I do the triggering part once a day or every two days unless I am away on vacation on something (which was the case for the last couple of weeks).

Thanks for linking it to the main readme. Once there i

[2018-12-30 15:32] andreasb242 commented on #283
I'm planing to do an official release soon, there is one Windows bug which I would fix before.

[2018-12-30 15:39] badshah400 commented on #283
Awesome news! Many thanks and cheers!

[2018-12-30 17:46] andreasb242 commented on #659
After testing I found out:
start Xournal++, do not touch with the pen
start again, touch with the Pen. Does not work
start the 3rd time: working

So it don't matter how many times it's started, it needs pen contact and then a restart. Strange, and really hard to find a workaround.

[2018-12-30 18:50] andreasb242 commented on #660
Currently looks like if they only need to be packed into C:\Program Files\Xournal++\share\locale\<language>
* gdk-pixbuf.mo
* glib20.mo
* gtk30.mo
*gtk30-properties.mo

And xournalpp.mo should also be moved here.

[2018-12-30 19:02] andreasb242 commented on #283
@badshah400 I created a release: https://github.com/xournalpp/xournalpp/releases/tag/1.0.5

[2018-12-30 21:40] badshah400 commented on #283
Thanks again. On its way to becoming available on default openSUSE channels:
https://build.opensuse.org/request/show/662113

[2018-12-31 12:53] andreasb242 commented on #283
Thank you!

[2018-12-31 13:43] andreasb242 commented on #569
GTK Bug https://gitlab.gnome.org/GNOME/gtk/issues/1551

[2018-12-31 13:44] andreasb242 commented on #659
GTK Bug https://gitlab.gnome.org/GNOME/gtk/issues/1549

[2019-01-01 10:07] andreasb242 opened #671 "Presentation Mode not really working"
- Zoom working strange - should be always 100% I think
- Toolbar should be selectable in the settings
- Create a Presentation toolbar, and select as default

[2019-01-01 20:02] andreasb242 opened #676 "Mac .app Packaging"
Xournal++ should be packaged as .app for macOS.

folder "mac-build" contains the current progress.
The Icons are currently not packed, but the current issue is gdk-pixbuf libraries, and loader.cache.
Currently not sure how to solve this, for windows there is also a relative loading implemented, not sure if this is active on the homebrew implementation.

See:
https://github.com/GNOME/gdk-pixbuf/blo

[2019-01-01 22:38] luco5826 opened #677 "Different icons for dark-themed DE"
Hi!
I thought that some modifications to the icon pack could be nice!
I personally use a dark themed DE and some icons like the Arrow Tool, or any other black-iconed tool are really hard to see. So I thought we could add a "brighter" variant in order to solve this. I can work on it, even on the graphic side, but i still have to see how to implement it in the code, maybe adding a Setting entry? Lik

[2019-01-02 09:10] andreasb242 commented on #677
For sure.
@morrolinux also would change the Icons.

And on macOS, it looks horrible, not the Icons, manly the GTK Style.
Can you check, if we may use the GTK Mechanism, and then also have the option to switch the GTK Style. And may detect, if there is a dark style, automatically switch to the dark style?

Gimp does support it, so it is possible.

[2019-01-02 14:35] andreasb242 commented on #677
For mac theming is a solution. You may simple create a subfolder for new icons, and load them if configured in the settings.

[2019-01-02 15:30] andreasb242 commented on #172
MacBook with Retina screens have this issue to, and are a good device for testing.

[2019-01-02 15:57] andreasb242 commented on #676
GTK Stuff, theming etc. may be usefull:
https://balintreczey.hu/blog/beautiful-wireshark-on-os-x-using-homebrew-and-gtk3quartz/

[2019-01-02 16:52] andreasb242 opened #680 "GtkApplication"
Implement GTK Application, and therefore also multi document handling.
This should solve the mac menubar. I have not checked it yet.

[2019-01-02 20:12] student-sx opened #681 "Export xopp file to pdf from command line"
Is it possible to export a xopp file to pdf from commandline? In my case I have a directory containing many xopp files which I want to convert to pdf. To do this I have to open every file and click each time on the export button.

Something like:

[code]
would be much more elegant.

If not, I think this would be a nice feature for the future.

[2019-01-02 20:36] andreasb242 commented on #681
Show the help. The texts are in your local language, if supported.

So you can do your batch conversion.

[2019-01-02 22:03] #681 closed

[2019-01-03 13:46] andreasb242 opened #682 "Preview does not work if installed over Ubuntu PPA"
As the title already says.

[2019-01-03 15:02] luco5826 commented on #677
@andreasb242 Yeah! That's exactly what I was thinking about!

[2019-01-03 22:33] gregdymek opened #683 "ubuntu: touch screen not drawing"
drawing not working on the touchscreen, it's scrolling instead, normal xournal is working ok however icons are too small on uhd screen

[2019-01-03 22:38] gregdymek commented on #683
I'm using hp spectre x360

[2019-01-03 23:09] andreasb242 commented on #683
But your tablet has also pen input, right? And this does drawing?

Xournal is still on GTK2, Xournal++ is on GTK3, and the GTK3 Scrolled Container automatically takes the Touch event for Scrolling. The Xournal Widget only gets an event where you touch ("click"), but not the dragging. And this is not an option, this is hardcoded in GTK3.

I already noticed this (it's the same behavoir on all device

[2019-01-03 23:36] DuendeInexistente opened #684 "Dots appear randomly"
I encircled one in red to make it more clear
![image](https://user-images.githubusercontent.com/20157727/50667119-a3417d80-0f96-11e9-8b6f-13864f5155fb.png)

These dots appear constantly, and without printing any error to the terminal, so I don't have any idea of why might this be happening.
My tablet is a Wacom Intuos, and I compiled xournal from source in ubuntu 17.10 64 bits. [This](https://file

[2019-01-03 23:52] Stiffy2000 commented on #683
Many people could be using a tablet + Xournal++ to do notes and the like.
Maybe if there is another touch handler we can use?

On Thu, Jan 3, 2019, 18:09 andreasb242 <notifications@github.com wrote:

[2019-01-04 09:02] andreasb242 commented on #683
We can remove the scrolled panel and to it ourselv, with this we remove all standard scrolling stuff. We had this before. And then let the user select.

[2019-01-04 09:52] morrolinux commented on #683
@andreasb242 I have to say that after the last X11 update my tablet's stylus gets (erroneously) detected as a touchscreen device (by x11, not a xournal++ bug). With the actual status I can configure it under the "Input" section of xournal, but cannot use it to write because of this.
I think indeed that could be useful to let the user pick one "touchscreen" device from the "Input" tab, and handle i

[2019-01-04 09:57] andreasb242 commented on #683
@morrolinux We can do this, but this also means to disable all gestures, and it wont fix your issue, because on the Touschreen no pressure is provided.

[2019-01-04 10:03] andreasb242 commented on #684
The Binary brings nothing, but can you upload this .xopp file?
I can see if the point contains pressure or not, if not the point is created with touch / mouse.
if the point contains pressure, it is created from pen device.
By the way: You can delete everything which is on the page EXCEPT the point, save it as a new file, unzip it (witz gui or) gunzip file.xopp and then you have a plain .xml, only

[2019-01-04 10:21] andreasb242 commented on #676
Working.

[2019-01-04 10:21] #676 closed

[2019-01-04 11:01] morrolinux commented on #683
Umh I see... wouldn't be too much of a problem for pen pressure as I always disable this (me personally of course) but with no gestures.. yeah.. it would have been useful if it was possible to do it just "per-device"

[2019-01-04 12:19] bwurst opened #686 "Provide a button for item deletion"
I found Xournal++ these days and I love it. I use it on a convertible notebook with pen input on the touch screen. Great experience so far!

What I really could not find is a convenient way to delete items. There is a select tool and one can move stuff around with the pen but for deletion of selected items, the keyboard is needed (or "Edit -> Delete"). I did not find a simple Toolbar button to del

[2019-01-04 13:44] #686 closed

[2019-01-04 13:47] andreasb242 commented on #686
You have to customize the toolbar yourself, the button is not in the default toolbar. (I think the most user need mostly the eraser)

[2019-01-04 13:47] bwurst commented on #686
Thanks a lot, I'll fetch an updated build in a few days!

[2019-01-04 16:17] #660 closed

[2019-01-04 16:39] #682 closed

[2019-01-05 05:39] peetCreative commented on #684
I found out, when you change tools finger to pen. It paints the last position of the finger.

[2019-01-05 08:33] andreasb242 commented on #684
@peetCreative How did you change, with touch / pen / mouse?
Do you have Wayland or X11?

I couldn't reproduce it with the mouse on X11

But I already guess what it is, the new input handling which handle input by device.

[2019-01-05 08:35] andreasb242 commented on #680
GTK Application is nothing for Xournal++

* GTK Application is really bad document.
* New menu classes, need to change the complete menu handling
* New XML Format for Menus, cannot be edited with glade
* And not even the example shows the menu on macOS correct on the top bar

[2019-01-05 08:35] #680 closed

[2019-01-05 13:47] DuendeInexistente commented on #684
Oh, right, the dot is:
[code]
And the whole file is [2019-01-03-Note-20-15.xopp.zip](https://github.com/xournalpp/xournalpp/files/2729536/2019-01-03-Note-20-15.xopp.zip) , just in case.
In case it helps I haven't a touch-enabled system, though, just a tablet and mouse.

[2019-01-05 13:51] andreasb242 commented on #684
Two input devices, I have to try to reproduce, as @peetCreative already wrote: I have to change the tool, and probably use the pen before or so.

@DuendeInexistente Do you use wayland or X11?

[2019-01-05 14:13] DuendeInexistente commented on #684
X11

[2019-01-05 14:13] DuendeInexistente commented on #684
X11

[2019-01-05 16:07] #677 closed

[2019-01-05 16:46] andreasb242 opened #701 "An emergency restored filed is marked as "saved""
If a document is restored after a crash, there is no "change", and if the window is closed it will not be asked to save! That's bad. It should ask for save.

[2019-01-05 17:32] andreasb242 commented on #701
I added an undo element, so the document is marked as changed.

[2019-01-05 17:32] #701 closed

[2019-01-05 17:59] andreasb242 commented on #684
@DuendeInexistente Please recheck. If it happens again, reopen the ticket.

But I'm really sure it was this code, because:

There is no pressure saved, so it's not a normal pen drawing.
And I hope you would know if you would draw some points with your mouse :-)

Start and end is at the exact same position. This is not possible if you draw with the pen. So it was probably the changed code.

[2019-01-05 17:59] andreasb242 commented on #683
If it would be work, it may also solves #404 if enabled.

[2019-01-05 18:19] masac opened #704 "Dash line"
Hi. Please add the option to choose dash line, dot line as in the program MrWriter https://unruhschuh.github.io/MrWriter/

[2019-01-05 19:35] andreasb242 opened #705 "Scrolling on startup"
The current page is saved, if the document is opened again, it scrolls to the current page. The page displayed is the correct one, but it scrolls to the wrong one.
Probably is the zoom loaded later, and the position is therefore set to a complete wrong position.

[2019-01-05 19:37] andreasb242 opened #706 "Windows Title - document name"
Sometimes the full path is displayed (e.g. open from recent) sometimes only the document name.
As the path can be really long, always the Document Name should be displayed, not the path.

[2019-01-05 20:49] #706 closed

[2019-01-06 12:42] Rmano commented on #684
Hi (back from holidays!)

I'll check, but please notice that this is a very, very long-standing problem. It was (and still is) happening with the original `xournal`, too.

[2019-01-06 13:00] andreasb242 commented on #684
Haha :-) I'm probably right!
I wrote Xournal++ because Xournal is not really extensible, it's really hard to add new features.

But Xournal is working, and I also mentioned this in the About dialog, it's based on Xournal. I looked into the Xournal code, and found this:

[code]
This is exactly the same behavior. So I hope I found the correct part. This is a special case, which cannot be easy reprod

[2019-01-06 16:56] Rmano opened #713 "When pressure sensitivity is on, shape recognizer use always maximum width"
The title says all (see the attached GIF also).
It would be much better is the shape could be painted with the average line width of the hand-made path.

![recorded](https://user-images.githubusercontent.com/6414907/50739139-40d9be80-11dc-11e9-8eb3-3b8727194223.gif)

[2019-01-06 17:07] andreasb242 commented on #713
Possible, but not sure if this really make sense. It's not much work, so we can try it.
We have to calculate the average pressure of the original object (which is anyway saved, for undoing) and then multiply it with the width.

[2019-01-06 19:34] luco5826 opened #716 "Possible cleanup"
Hi!
Is there a specific reason in order to keep 4 different methods in `XojOpenDlg` which do the same thing?
I think that we could replace those with one method that accepts the name of the filter and the extension!

[2019-01-06 19:57] masac opened #717 "Pen pointer"
I have a tablet Wacom Bamboo. I attached a small video clip.
https://drive.google.com/file/d/1tcnbeFB051O2Q64ymjZY-u27XeDFkz6G/view?usp=sharing

In Xournal everything works correctly. In the latest version of Xournal ++, when I release the delete button
 of the pen, the cursor does not automatically change in pen pointer.

[2019-01-06 20:06] andreasb242 commented on #716
Which 4 Methods do you mean?

[2019-01-06 20:09] andreasb242 commented on #717
Input handling / multidevice. Do you know if the button is Button 1 / 2 of the Pen or does it make an eraser (other device) out of the pen?
If you don't know it's also not a big problem, I can test both.

[2019-01-06 20:33] luco5826 commented on #716
[code]
They do basically the same thing

[2019-01-07 17:11] andreasb242 commented on #716
Yes, but they have different string, and this methods are called from different places. If add the Texts as parameter, you have provide the texts from different locations, which is not a good idea, because there is always the risk, that somebody edit only one location.

addFilterPdf adds two extensions, but you can create a Method, which is called from the other 3 Methods.

A new Method costs you

[2019-01-07 17:13] andreasb242 commented on #717
I had today the exactly same error, but then I saw, there was a second layer. So the issue is probably in the layer handling (which is completely refactored for the new layer menu)

[2019-01-07 17:17] luco5826 commented on #716
Ok thank you!

[2019-01-07 17:17] #716 closed

[2019-01-07 17:19] andreasb242 commented on #273
The Camera is good enough.
May use Cheese: https://help.gnome.org/users/cheese/stable/
https://github.com/GNOME/cheese/blob/master/src/cheese-application.vala

[2019-01-07 21:45] unruhschuh opened #719 "Undo lets go of selection"
1. Select something
2. move it at least twice
3. hit "undo"

The last move is undone, but the selection is let go. If the content overlaps with some other strokes, it might be impossible to reselect.

I'd suggest to either
a) undo all moves, such that the content is where it was selected
b) undo the last move and keep the content selected

Mac version 1.0.6

[2019-01-08 10:56] peetCreative opened #720 "Update preview sidebar, when changing page"
when scrolling to another page, the indication of the current page in the preview is not updated. Should be easy to resolve this.

[2019-01-08 11:35] #720 closed

[2019-01-08 18:31] andreasb242 commented on #719
Libreoffice lets the selection as long as the object is not deleted or so, but if there is more undone, the last selection is not restored.

Technical we need to check after each undo / redo step is the element ist still selectable, or not on the document anymore. Stroke will not be deleted, it exists in the undo / redo stack.

[2019-01-08 18:42] andreasb242 commented on #713
Yes... Its working really good. Thank you @luco5826 !

![bildschirmfoto vom 2019-01-08 19-39-08](https://user-images.githubusercontent.com/822958/50851523-60f4b380-137d-11e9-9c35-bbfeb97b8ad1.png)

[2019-01-08 18:42] #713 closed

[2019-01-09 10:52] masac commented on #704
Thanks! When will this feature be used?

[2019-01-09 12:40] peetCreative commented on #595
Coverity scan seems to be dead or at least down anyway.
[https://community.synopsys.com/s/article/Coverity-Scan-Update](coverity news)

[2019-01-09 14:41] linwaytin commented on #404
I have a similar issue.
It happens not when I am zooming, but when I am writing with a stylus. The gesture for zooming would be suddenly triggered, and the behavior is just like the video of **markwmuller**: The page glitches.

After this happens, the application gets stuck in this mode and I cannot write normally.

I do not figure out how to reproduce it systematically, but I found if the page is

[2019-01-09 16:50] andreasb242 commented on #704
@masac Load / Save and the UI is not done yet.
If the weather stays bad, you can expect it next weekend ;-)

[2019-01-09 17:15] andreasb242 commented on #404
@linwaytin The more information, the better!

[2019-01-09 17:46] morrolinux commented on #404
I noticed that when changing tool, it's not always changing for real. sometimes I have to choose the tool a second or third time before it gets "engaged" for real. The speed in doing this could be a factor (the faster, the buggier).
What if something similar happens to the "per-device" input handling?
Maybe the pen is not always being released properly and starts a "pinch to zoom" gesture with the

[2019-01-09 18:02] andreasb242 commented on #404
The gesture handling is GTK, and should only work with Touch. So it should not possible to zoom with the Pen. And all the device input handling, which you are talking @morrolinux is only relevant for drawing, not for Zooming.

I didn't get the Zoom Problem on my device yet, but I have only one Notebook with Touch. I got today a Wacom Graphics Tablet with touch, may I can reproduce it with this. Bu

[2019-01-09 18:11] andreasb242 commented on #404
Even with the "non working" PDF from @taaem it's working for me.

As I have now a touch for testing, I can use this on any system, so I can set up a System where it's not working. I currently don't know what causes it.

But I have today not enough time for systematically testing.

[2019-01-09 22:31] unruhschuh commented on #404
I might be wrong, but afaik the touch function of wacoms is registered as mouse events, not touch events. Similar to a track pad on a laptop. That may or may not make a difference here, but I assume a pinch gesture on a 'real' touch device is different from a pinch gesture on a trackpad.

I'm currently also facing the problem of simulating touch events on all platforms, as I don't own a touch devi

[2019-01-09 22:39] linwaytin commented on #404
Probably a silly comment: Can we have an option to disable the gesture of zooming?
For me the slider is enough for zooming. This problem makes the application unreliable.

[2019-01-10 07:14] masac commented on #704
Thanks!

[2019-01-10 16:39] andreasb242 commented on #404
@linwaytin Yes, we can do an option.

@unruhschuh You are right, I checked it. It's a touchpad, not a touchscreen.
I already looked at the GTK Code, Touchpad and Touchscreen are complete different implementation. Because a touchpad is relativ, and a touchpad is absolute.

[2019-01-10 17:00] andreasb242 opened #724 "Allow to disable Zoom gestures"
Add a touch setting to disable zoom gesture.

[2019-01-10 17:05] andreasb242 opened #725 "Tool change handling"
I have mapped the eraser to the Pen button.
When I press the button, the eraser is correct selected.
When I release the button, the tool is not changed, only when I touch the screen (which causes an event "Button 1").

Somebody else already commented on a ticket, but it's definitive an unclear UI hanling. I have to check again, there is an improvement possible.

[2019-01-10 17:09] andreasb242 opened #726 "Layer menu not updated"
I could today draw to "Background", as the Layer menu was not updated.
There is at least one position, where the UI is not Updated, when a new layer is added.

This needs to be fixed.

[2019-01-10 17:19] luco5826 commented on #724
I could see what i can do!

[2019-01-10 18:21] andreasb242 commented on #704
Loading of a MrWrite document can import dotted lines
(still not completed, feature by feature, but there is a progress! ;-))

![grafik](https://user-images.githubusercontent.com/822958/50988446-e9ee2500-150c-11e9-8357-c99b7accaeb2.png)

[2019-01-10 19:01] andreasb242 commented on #704
Ah I forgot: I wrote @unruhschuh , and we decided to keep the file format as compatible as possible.
Xournal++ now allows to import the files from MrWriter, which are nearly identical as .xoj.

Dotted lines will be saved as MrWrite does, so it's compatible.
Therefore I also add the exact same line types. But if there are other line types requested, which makes sense, we will add it, even if MrWrit

[2019-01-10 22:47] #724 closed

[2019-01-10 22:49] luco5826 commented on #404
@linwaytin we added the ability to disable zoom gestures!

[2019-01-11 09:11] PellelNitram opened #729 "Rich text support"
I had the following idea which would make Xournal++ even more competitive to other (commercial) software.

The idea is rich text support. While I am not all sure if that's the right wording, here is what I thought of: When typing text, it would be amazing to have lists and word-wise formatting (such _as_ **this**). I call it "rich text support" because I know that RST or Markdown introduce a simpl

[2019-01-11 11:48] andreasb242 commented on #729
@PellelNitram I fully agree with you.
And when I started Xournal++, I even thought I'll add Rich Text Support.

But it will be incompatible with .xoj, at that time this was the killer, I woulden't brake the support. But now we have .xopp, which is anyway incompatible, we have a .xoj export, which removes all stuff which is not compatible, so this will not be an issue anymore.

And because I would

[2019-01-11 15:11] frohro opened #730 "Latex is extremely slow on Ubuntu"

[2019-01-11 15:15] frohro commented on #730
I'm using Ubuntu 18.10, and inserting a Latex equation is extremely slow to edit.  Just to backup over the x^2 takes what seems like a very long time (maybe 30 seconds for three letters).  Perhaps there could be a way you could enter the Latex to render, and then click a render button to see what it looks like.  That would be much better for me than this very slow automatic rendering.  :-)

[2019-01-11 15:21] frohro opened #731 "Need a preference for setting up snap grid...."
I need a preference that would allow my snap grid to be the same as the background.  It seems like those points are a little more likely, but it would be nice to be able to have only those points possible.

[2019-01-11 15:22] andreasb242 commented on #730
On a Core 2 Duo L9400 (very slow and old) on Ubuntu 18.04 it's rendering live.
I'm currently downloading Ubuntu 18.10, and will set up a Testmachine, and check if this also happens with Ubuntu 18.10.

[2019-01-11 15:36] andreasb242 commented on #730
I'll set up system, and if it's reproducible it's probably easy to fix.
If it's not, then it has something to with your system. In this case you have to do some testing, e.g. you can execute

On my dev PC this outputs:

So it took 118ms to generate the image, which is much, much faster than the 30s you told.
But it also can be an issue with loading the image, or something else, which is not covere

[2019-01-11 16:18] frohro commented on #730
frohro@frohro-260:~/Projects/xournalpp/build$ time mathtex-xournalpp.cgi -m 0 "\png\usepackage{color}\color{black}\dpi{{600}}\normalsize x^2" -o test.png

real	0m0.119s
user	0m0.079s
sys	0m0.018s

So that is working.

[2019-01-11 16:49] andreasb242 commented on #730
I missed your second answer. Probably I was writing mine at this time.

So if it's working I close the issue.
@frohro You can reopen the Tickets when it happens again.

[2019-01-11 16:49] #730 closed

[2019-01-11 18:21] Rmano commented on #730
Sometime there are *huge* delays when fonts are generated for the first time in X... could be this?

[2019-01-11 18:23] frohro commented on #730
It might be.  I'll reply here if I ever experience it again on this laptop.

[2019-01-12 01:56] frohro commented on #731
Well, I found the number to change to make snap to grid work the way I want it.  The problem is that when you have snap to grid on it only snaps to the grid if you are very close to it.  I changed the "tolerance" variable on line 36 of src/control/RulerHandler.cpp from 2.5 to gridsize/2, and now it works the way I want, and snaps everywhere to the grid.  If i don't want it to always snap to grid,

[2019-01-12 08:30] PellelNitram commented on #729
Oh, that's amazing news to hear!

I will keep my eyes open and once I find a task that I can solve, I will create another PR :-).

[2019-01-12 08:30] PellelNitram commented on #729
Oh, that's amazing news to hear!

I will keep my eyes open and once I find a task that I can solve, I will create another PR :-).

[2019-01-12 08:32] andreasb242 commented on #729
@PellelNitram If you need help you can ask in the issues, we usually respond.

But this task is probably a really bad start ;-) Definitive not a beginner task.

[2019-01-12 09:02] morrolinux commented on #731
I'll take note of that, don't close the issue just yet :)

[2019-01-12 11:59] peetCreative commented on #404
I don't really now weather this issue is connected, because for me it's only ocuring with slider and button in or out zooming.
I was debugging `ZoomControil::startZoomSequence`
[code]
Seems to give back the size of the whole widget. not the current  visible position.

However I was tinkering around a bit to get what we need (the coordinates of the middle of the visible Rect in Widget coordniates.

[2019-01-12 12:11] peetCreative opened #733 "Logarithmic ZoomSlider and percentage"
I think it would make sense to make the ZoomSlider logarithmic so 1.0 is more in the middle. I have to think how to calculate it correctly.
Nother thing is to introduce an indicator which shows the percentage of the zoom. Just for viewing to the user.

[2019-01-12 14:19] linwaytin commented on #404
@luco5826 Thank a lot. I tried it. That works, and so far the glitching problem does not show up again.

That makes I can really use Xournalpp. Great!
I will report if the problem shows up again.

[2019-01-12 15:36] morrolinux opened #734 "Copy/Paste doesn't work on MacOS"
As the title says, copy paste doesn't work on a mac build

[2019-01-12 15:44] andreasb242 commented on #734
Hopefully only a keyboard shortcut issue...

[2019-01-12 16:48] andreasb242 commented on #683
By the way, it's working on Windows, at least on the cheap chinese 7" Tablets...

[2019-01-12 18:17] andreasb242 opened #735 "Update / Eliminate LastSelectedTool"
LastSelectedTool needs to updated or eliminated so it has the same attributes as Tool

[2019-01-12 19:50] andreasb242 commented on #704
@masac It's working!
But there are a lot of UI Bugs, and therefore I won't add it now to the toolbar, you have to customize it.
The Toolbar does not show the correct icon, but you can select it. The line is only painted dotted after a few second on the first repaint.

Therefore I'll let this ticket open. But you can test it, with the limitations mentioned above.

[2019-01-12 19:57] andreasb242 commented on #733
What about a menu like evince has?

![grafik](https://user-images.githubusercontent.com/822958/51077858-5f442c00-16ac-11e9-9190-0dcab186257c.png)

It's logarithmic, more or less, maybe better readable, and probably also better to select with the pen.
I have to check, the Wacom Pen is not working that good at the corner of the screen, so such a menu would maybe better?

[2019-01-12 20:13] andreasb242 commented on #717
I deleted a commend, which I accidentally wrote to this ticket, but had nothing to do with it.

I found the bug, and could fix it.

[2019-01-12 20:15] #717 closed

[2019-01-12 20:15] #725 closed

[2019-01-12 20:18] andreasb242 commented on #734
The toolbar is updated on copy.
LibreOffice shows me, that a Bitmap is in the clipboard, but cannot insert it.

[2019-01-12 21:41] luco5826 commented on #730
Hi @frohro ! I personally followed the development of the real time rendering latex feature on xournalpp and any suggestion is very well accepted!
I was thinking about an alternative solution instead of how it is now, maybe we could wait something like 1 sec after the user stops writing and THEN render the latex, but it is hard to intercept such "event".
Right now we get the "text changed" event a

[2019-01-12 21:42] frohro opened #738 "Some things don't nicely align with snap to grid."
The graph and dotted background line up nicely with snap to grid, but not some other backgrounds, especially the graph with border.

[2019-01-12 21:44] frohro opened #739 "Draw coordinate system doesn't snap to grid."
You can draw a coordinate system with the line tool, or the arrow tool, so maybe this feature is redundant, but if it is there, it would be nice if it worked as well as the other tools.  :-)

Thanks to all the developers!  You have some major improvements over xournal.
Rob

[2019-01-12 22:01] frohro commented on #739
The rectangle, the circle, and the coordinate system all lack this feature.  It is not so obvious unless you compile with the modification I made to the snap parameter, so it only snaps.   The arrow, thankfully has snap to angle, but not snap to grid.

[2019-01-12 22:16] frohro commented on #731
The epsilon parameter in ArrowHandler.cpp, line 63 is another one I would like to see in the preferences.  I prefer .25 rather than the 0.1 presently used.   You can hold the shift key if you don't want snap to rotation, or unclick the snap to rotation.

[2019-01-12 22:23] frohro opened #740 "When you copy an object from one layer to another it sometimes gets enlarged and moved."
Steps to reproduce:

1. Create an object on layer 1.  (I used an arrow, or a line.)
2. Create a new layer.
3. Cut the object on layer 1.
4. Go to layer 2 and paste it.
I'm not sure what makes the difference, but sometimes it works as I would like, and is the same size and position.  It may be operator error.  :-)

[2019-01-12 22:41] frohro opened #741 "Something so you can make the size uniform at a user selected size on Latex equations would be nice."
To make all your equations look nice, it would be helpful if you could have some different sizes to pick from or something so you can have your equations all the same size.

[2019-01-12 22:43] frohro opened #742 "Circles would be nice to be drawn with the starting position as the center."
Most CAD tools I'm familiar with draw circles using the point you click as the center.  The way it is, I find it hard to make the circles the way I want.

[2019-01-12 23:12] andreasb242 commented on #738
Both are new features, and it take some time to bring it to 100%.

[2019-01-12 23:19] andreasb242 commented on #739
If you do fixes you can create a pull request, and we can merge it.
Developers are always welcome. The rules are simple: it needs to make sense, and don't break anything ;-)

The Coordinate System was also a Pull Request from a contributor. I already notice, that this feature is not fully integrated, but I personally merge them, because it also can be the base for improvements.

[2019-01-13 03:12] frohro opened #743 "Ubuntu build instructions: need to add libxml2-dev"
At least in Ubuntu 18.10 you need libxml2-dev, so it looks like blob/master/readme/LinuxBuild.md needs this added after texlive on the install line.

[2019-01-13 05:39] frohro commented on #739
Okay, I have snap to grid working for the square, the starting point of the arrow, (maybe I should do the end too).  I also fixed a bug with the square that it would only go up and to the left or down and to the right of the original point.  Shift to turn off snap to grid doesn't work with the rectangle because the shift was claimed to make a square.  It might be nice to change the key for one or

[2019-01-13 06:59] masac commented on #704
Thanks!

[2019-01-13 07:04] frohro commented on #739
I further edited it until now on the arrow, if you have snap to grid selected, but only want one of the ends snapped you can free the other by holding the shift down.  It works with either end.

I created a repository here: https://github.com/frohro/xournalpp  I'm not quite sure how to do a pull request, except for repos I  have write permission on.  You probably know this much better.  Let me kno

[2019-01-13 07:20] frohro commented on #739
It is the frohro branch.

[2019-01-13 09:58] #743 closed

[2019-01-13 10:54] #719 closed

[2019-01-13 14:20] #704 closed

[2019-01-13 14:22] andreasb242 commented on #726
Not reproducible... Also happens to the developer... Close issue now...

[2019-01-13 14:22] #726 closed

[2019-01-13 15:44] morrolinux commented on #739
https://help.github.com/articles/creating-a-pull-request-from-a-fork/

[2019-01-13 15:54] morrolinux commented on #739
You probably need to fix your tab size though. It's not consistent with the actual code

[2019-01-13 16:30] andreasb242 commented on #739
Change the editor config to save Tabs instead of spaces. But the size (4) is correct.

[2019-01-13 18:19] andreasb242 commented on #172
For the icon loading probably https://developer.gnome.org/ThemedIcons/ should be used, so the icons are correct scaled (hopefully)

[2019-01-14 10:53] vonAlenberg opened #752 "[Ubuntu 18.10] Crashes and high CPU usage"
So I recently upgraded to Ubuntu 18.10 on my Surface Book 2. With 18.04 everything was fine, now the App sometimes crashes on startup and has huge CPU usage (like 100% for multiple cores) with larger documents.

Attached is the logfile of the last crash - looks like libpoppler is the cause.
It would be really cool if someone could look into this asap, as this software is essential for my studies a

[2019-01-14 12:45] peetCreative commented on #752
Can you start the program with gdb?
simply run `gdb xournalpp` in a terminal.
then enter `run` and the program will start, use the program until it stops.
Then enter `bt` to get the full backtrace.
How did you install xournalpp, from source (git clone and make) or from the provided packages?
Can you provide your poppler version? again terminal `apt-cache show poppler`

[2019-01-14 12:48] peetCreative commented on #733
Yes, that looks good. I will do sth.
 I think  a scale like libre office is also good. with the slider snapping to 100%, fit

[2019-01-14 13:31] frohro commented on #742
I'm closing this.  I've played with it more, and the way it is actually isn't bad.

[2019-01-14 15:54] morrolinux commented on #731
Closed with #754

[2019-01-14 15:54] #731 closed

[2019-01-14 15:57] #739 closed

[2019-01-14 16:22] masac commented on #717
There is a small problem. During erasure, if the tip of the pen touches the tablet, the pen instead of delete, he draws lines.

[2019-01-14 16:30] morrolinux commented on #717
@masac I know what you're talking about, but this is a driver configuration issue:
if you're using the wacom driver for instance, there is a setting "TPCButton / TabletPCButton" which enables the button (configured as a rubber in your case) to "engage" only when pressing and touching the screen (not when hovering).
See:
https://github.com/morrolinux/SurfaceLinuxGoodies/blob/master/Note%20taking/co

[2019-01-14 17:30] andreasb242 commented on #717
@morrolinux I also know this, I think it should go to the Wiki and should be linked in the readme or so, this ticket is closed...

[2019-01-14 19:52] vonAlenberg commented on #752
I ran xournalpp through gdb like you said, here is the output:

    gdb xournalpp
    GNU gdb (Ubuntu 8.2-0ubuntu1) 8.2
    Copyright (C) 2018 Free Software Foundation, Inc.
    License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
    This is free software: you are free to change and redistribute it.
    There is NO WARRANTY, to the extent permitted by law.
    Type "show

[2019-01-14 19:57] andreasb242 commented on #752
There was another issue with Ubuntu 18.10.

I plan to install one of my test notebooks with Ubuntu 18.10 and try to reproduce. If all is working I may can do this today...
But one test: if it's really **only** a Poppler issue, it should work if you create a new Xournal++ document without PDF.
But if you then also have issues, it's not / not only poppler.

[2019-01-14 20:06] andreasb242 commented on #172
Sorry, wrong comment... Not yet closed...

[2019-01-14 20:40] vonAlenberg commented on #752
Well, the error mentioned in the logfile gets thrown whenever I open xournal, with or without file.
However, the insane CPU load doesn't occur with 'normal' files, that is: not including PDF. I can create a 40+ pages xornal-file, draw to it and no CPU impact.

[2019-01-14 20:41] andreasb242 commented on #172
@cass00 Can you compile with cmake .. -DUNSTABLE_HIGHDPI_FIXES=ON and recheck?

Selection is still low-DPI, Icons also.
But if it's generally working, I'll like to recheck and then enable it for all, after that I would create new Issues for the specific tasks.

[2019-01-14 20:46] andreasb242 commented on #752
I did a fresh install of Ubuntu 18.10, and build Xournal++ from git.
So starting is working, without any issue...

![bildschirmfoto von 2019-01-14 21-43-54](https://user-images.githubusercontent.com/822958/51140033-bfbaa100-1845-11e9-973b-41ff55d770f8.png)

[2019-01-14 20:51] andreasb242 commented on #752
@vonAlenberg You have updated your system, and probably have some issue with old installations.
Please make sure, you don't have old binaries installed.

e.g. rm -rf ./build
mkdir build

and start again, or how did you install it?
On my Ubuntu 18.10 also PDF opening is working. I did not do a full test, not possible within the time, but all looks good. It has to be an issue on your system.

[2019-01-15 03:33] Hedronmx opened #760 "App Crashes when Display Rotates"
It crashes after display rotation happens, sometimes is instant sometimes is not.
Running on Elementary OS of the PPA. Using Lenovo Flex 5 with a bamboo ink stylus and touchscreen.

This is the log

[code]

And this shows when running terminal and crashes.
[code]

[2019-01-15 05:29] andreasb242 commented on #760
Looks like we get events in an unexpected order.

Reproducible or happens only once?

[2019-01-15 05:47] Hedronmx commented on #760
Reproducible, it just varies the time it takes to crash. That's why I opened up the logs and terminal. Because it happened consistently

[2019-01-15 09:44] morrolinux commented on #717
Right, I'll do this

[2019-01-15 10:15] Rmano opened #761 "Fill opacity glitches"
First of all, thanks for adding this!
I have a couple of problems with fill opacity selection.
1. How can I change the opacity if my pen has no right click option?
2. If I select a filled shape, click the (mouse) right button to change opacity, and then move it, what happens is that I am copying it... is it expected? (see clip)

![recorded](https://user-images.githubusercontent.com/6414907/5117387

[2019-01-15 11:04] vonAlenberg commented on #752
So I now tested both ways:

* Installed via repository,
* installed via git

In both cases there is no error at startup anymore. However, as soon as I annotate some PDFs with pages >= 15 (round about) CPU usage explodes again.

Run with gdb again:

    gdb xournalpp
    GNU gdb (Ubuntu 8.2-0ubuntu1) 8.2
    Copyright (C) 2018 Free Software Foundation, Inc.
    License GPLv3+: GNU GPL version 3 or

[2019-01-15 11:56] luco5826 commented on #761
Hi! Thank you for submitting an issue! Right now the way to change transparency of the fill tool is under Tools -> Fill Transparency or something similar, but it is present, it has a useful preview widget too. I'm not able to test the second problem on my system but i think xournalpp isn't supposed to behave so!

[2019-01-15 15:12] cass00 commented on #172
Drawing is sharp now, so it seems to work generally. However, rendering seems a bit slow compared to the normal xournal (slight lag between the pen position and the drawn line). Also there high CPU usage (90% and 70% on two cpus) while the window is visible on the desktop while not drawing.

[2019-01-15 15:27] peetCreative opened #763 "Is there good reason to have mathtex source code in the project?"
Why don't we use mathtex from package or pull and compile it from the official website? I just stepped over it as it is quite a bit of code which is not necessarily compiled.

[2019-01-15 17:47] Plailect opened #764 "Crash/hang on attempting to move selection using touch screen"
When I select some strokes in an empty document and attempt to use the touch screen to drag the selection (to move the strokes), the application crashes (or hangs sometimes?).

[code]

[2019-01-15 17:54] Plailect commented on #764
This only seems to happen when the touchscreen is specifically selected in "Input Device" in the preferences (possibly due to GTK already recognizing the device?). Setting it to "No Device" fixes the crash.

[2019-01-15 18:46] andreasb242 commented on #717
@masac Xournal is written with GTK2, Xournal++ uses GTK3, and they have a lot of differences.

Try to find a package like gtk3-demo or so, and install it, there are a lot of tests, also some from mouse and pen stuff.
There you can do your tests. If this demo does the same as Xournal++, there is no bug in Xournal++, you have to figure out, how you can change the configuration. I have the same behav

[2019-01-15 18:52] andreasb242 commented on #761
I checked and I'm really surprised. I thought about a repaint problem, but yes, it copies and change the opacity!

Copy make sense, probably somebody added this as feature - I have to check.
But change the opacity?!?!?! I added this feature really recent... I have to check it.

But maybe not today - still over 10 unread notifications ;-)

[2019-01-15 19:02] andreasb242 commented on #752
100% CPU Confirmed. But even without annotation.

We had already twice such a bug, and it was both time the sidebar, which was hidden and some rendering loops occurs... I'll have a look.

[2019-01-15 19:13] andreasb242 commented on #752
Yes, sidebar bug. Again... A new constellation, but more or less the same bug.
However, fixed. It had nothing to with the Ubuntu version, it also happens on 16.04.

[2019-01-15 19:13] #752 closed

[2019-01-15 19:16] andreasb242 commented on #172
I have to check the CPU, I tested on a high Power Desktop i7, and probably simple didn't notice that. But maybe it was also #752  which is fixed now.

I'll do a check on a Core2Duo, there I really good feel if we have a speed issue ;-)

[2019-01-15 19:19] andreasb242 commented on #763
I don't know. I personal would like to remove it, but I also woulden't do anything there, because #375 make sense, and then this is obsolete.

[2019-01-15 19:21] andreasb242 commented on #764
This is exactly the same code location as on the crash here: #760

[2019-01-15 19:23] andreasb242 commented on #760
@Hedronmx Please have a look at #764, there is a workaround, which may also works for you?
I need to try to reproduce it. It's the same code location where it crashes, so I hope it's the same bug.

[2019-01-15 20:21] andreasb242 commented on #172
I Tested on a Core2Duo L9400 (about 10 Years old), for me it looks good.

I hope you got the Loop issue mentioned in the other Ticket. Else I need more info, what you did.

[2019-01-15 20:57] peetCreative commented on #595
I would also for now move away from coverity.

[2019-01-16 08:56] morrolinux opened #767 "Text tool doesn't let me type on MacOS/Windows"
Here's what happens:
1. I choose text tool
2. Clicking on the page opens up the text box as usual
3. When typing, the input are not registered within the textbox

I also noticed that the VIM navigation style switches "hjkl" are working in this phase.
So my guess is that the "focus" is not being captured by the textbox but stays on the page

[2019-01-16 09:17] morrolinux commented on #767
I've also noticed that "Return" and "Backspace" are being captured within the textbox as they should

[2019-01-16 11:08] luco5826 commented on #767
Hi @morrolinux !
I had problems with Text tool too some times ago, it was related to the GTK_IM_MODULE environment variable set to "xim" instead of something like "ibus", could you try checking your GTK_IM_MODULE value and/or running Xournal++ with 'GTK_IM_MODULE=ibus' parameter?
Maybe it's somehow related!

[2019-01-16 11:33] morrolinux commented on #767
Hi!
The variable was not set.
However, setting it doesn't seem to help

[2019-01-16 11:43] cass00 commented on #172
The problem persists even with the new patches. What I've found out is that the cpu usage problem does not occur if I compile without the highdpi fixes or if I start with `GDK_SCALE=1 xournalpp` . Otherwise, there is constant CPU usage of around 150% combined (2 CPUs).

[2019-01-16 12:17] masac commented on #717
Thanks!

[2019-01-16 17:32] #595 closed

[2019-01-16 17:44] andreasb242 commented on #172
I found it: The PDF Background resolution missmatches, and therefore does a lot of re-rendering. I need to fix this. But this is only with PDF Background, and on my dev machine it's not really much, therefore I didn't see it last time.

[2019-01-16 19:07] andreasb242 commented on #172
I found two bugs, one in the PDF rendering, and one in the High DPI Rendering (size of the image and the source does mismatch, because its e.g. doubled)

No the CPU usage in Idle is 0%, so I hope I found now the bug.

@cass00 Do you ma retest again? Sorry, I hope this is the last time... But I see you are a good tester for this ;-)

[2019-01-16 19:30] andreasb242 opened #770 "Google summer of code - should we may try to find new developers?"
The article is in German.
https://www.heise.de/developer/meldung/Summer-of-Code-Google-sucht-noch-Mentoren-4278222.html

The link to the google project is english:
https://summerofcode.withgoogle.com/

I only would start the discussion. I did not read all requirements and I don't know all details.

[2019-01-17 08:41] cass00 commented on #172
Yes, looks good. Can't see any unusual CPU usage. Tested also with PDF background.

[2019-01-17 09:18] morrolinux commented on #770
Might be a good idea. If we match the terms..

[2019-01-17 13:23] badshah400 opened #771 "Mathtex is GPL-3.0 but xournalpp is GPL-2.0+"
It seems there may be a licensing issue here: most of xournalpp is licensed under GPL-2.0+, but mathtex is licensed as GPL-3.0+. SUSE's legal department [flagged this](https://build.opensuse.org/request/show/663047) as an issue:
[code]

[2019-01-17 17:00] andreasb242 commented on #771
First: we don't link them together, they are fully independent, so the issue is only the packaging.
We should anyway remove it and use svg / pdf.

I may do this tomorrow, I don't know how much work it is, but this is a good reason.

[2019-01-17 17:01] andreasb242 commented on #771
GPL 3 has the issue with the key sharing, which makes it's nearly impossible e.g. to bring it to google play. So I would not change the license of Xournal++ to GPL3.

[2019-01-17 17:26] andreasb242 commented on #172
Thank you. I'll bring this to standard soon.

[2019-01-17 17:27] #763 closed, assigned to nobody

[2019-01-17 17:39] andreasb242 commented on #771
#375 will be solved together. I think the technical discussion should be made in the other ticket.

[2019-01-17 18:58] luco5826 opened #772 "Zoom issue"
Hi!
I got a problem while using Xournal++, I recently found out that when I open Xournal++ the zoom is centered way above the page and I cannot scroll down as the gif shows, if I mess with the zoom I get to move down, but then I'm not able to Zoom out, neither with panel button not with CTRL + scroll.
Right now I think the first part has something to do with the "Add vertical space" option, which

[2019-01-17 19:00] luco5826 commented on #772
Ok I checked, the first part is related to the "Add vertical space" option, if I disable it I don't have that proble anymore, but the Zoom one persists, I don't even know if they're correlated

[2019-01-17 20:00] Hedronmx commented on #764
I can confirm that setting no device fixes my issue

[2019-01-17 20:28] #771 closed

[2019-01-17 20:37] andreasb242 commented on #375
Technical now the PDF is loaded, but to the document still the image is saved / rendered. Therefore loading / saving, Model and drawing needs to be adapted. Drawing should not be an issue, as it's more or less the same as we already do on PDF rendering.
Embedding the PDF will not be that easy, probably also as hex, or live re-render latex...
I have to check, I probably save it as base64 to the .xo

[2019-01-17 21:01] morrolinux commented on #375
Would we still be able to copy/paste the generated latex as an image to another application after that?
because that would be a very convenient feature. Right now the png resolution is quite high and you don't really get pixelated stuff unless you fill an A4 page with a single formula, so I wouldn't mind the actual png format. just my 2 cents

[2019-01-18 05:09] andreasb242 commented on #375
Copy Paste is never an issue, as this anyway is copied to clipboard in different formats, e.g. as image.

[2019-01-18 13:12] badshah400 commented on #771
@andreasb242 Great! Thanks for the quick response and fix. Will you be releasing a tagged version soon, or should we just go ahead and apply the PR as a patch?

[2019-01-18 14:34] andreasb242 commented on #683
It's already planed. I'll hope I'll can fix this soon.

[2019-01-18 14:54] andreasb242 opened #777 "Icons without HighDPI Support"
Selected alements are drawed in LowDPI.

Custom icons are loaded in LowDPI, to fix this they should be loaded over GTK Standard functionality:
https://developer.gnome.org/ThemedIcons/

[2019-01-18 14:57] #172 closed

[2019-01-18 15:07] andreasb242 commented on #760
so this duplicates #764

[2019-01-18 15:07] #760 closed

[2019-01-18 15:17] andreasb242 commented on #764
I could not reproduce it.
Can you (@Plailect or @Hedronmx ) tell me what you set to for the touch device?

I probably set don't allow to set this constelation, as this is not working anyway...

[2019-01-18 16:40] peetCreative commented on #764
I can reproduce it.
[code]
However appeards when ever touch is used.

[2019-01-18 16:42] Plailect commented on #764
@andreasb242

![2019-01-18_11 42 40](https://user-images.githubusercontent.com/16979510/51400324-1a8a1c00-1b16-11e9-843d-56da169a5d64.png)

[2019-01-18 17:45] andreasb242 commented on #764
Thank you!

Even with the same settings as @Plailect it's working on my Notebook.

Thank you @peetCreative , thats what I needed.
I checked the stacktrace. It makes absolutely no sense for me....

gtk_xournal_destroy is the only place where the NewGtkInputDevice will be deleted.
And the check at InputSequence::actionMoved() did not fail...

So for now: You know the workaround, and there is anway a

[2019-01-18 18:43] andreasb242 opened #778 "Mac app"
Open a file from finder does not yet work (missing signal handler)
PDF errors, probably there is something missing in the Package (Poppler -> LibJPEG is my guess, as I packed Poppler manually with the script)

[2019-01-18 19:02] Rmano commented on #375
@morrolinux  yes, probably the high-resolution PNG is ok most of the time, and when rotation for images is implemented, that will be ok for me too.
@andreasb242 , if you need info for the templates (and colors, and whatever) just mention me, I'll do my best to help (and to keep pace with your super speed in coding... ;-) )

[2019-01-18 19:11] andreasb242 commented on #375
@Rmano  haha, thank you!
I know latex a little, I had to use it for my bachelor thesis... ;-)

But yes, I see you are a specialist.

I still plan to use PDF for rendering. Copy to clipboard is anyway rendered, else stroke could not be copied. So there is no issue for copy and paste.

But my plan is currently to do a release first. But It seems the MacBook where I created the release last time is d

[2019-01-19 03:54] sambhavsaggi commented on #375
If we do not want to go through the hassle of having a PDF then converting it to a DVI/PNG, we can use [dvisgm](https://github.com/mgieseki/dvisvgm.git) to convert plain Latex into an SVG instead of the current solution.

[2019-01-19 11:04] gzmorell opened #779 ""Delete Layer" and "Draw Line" have the same key shortcut"
Please assign a different shortcut to any of the commands.

[2019-01-19 12:09] #779 closed

[2019-01-19 12:10] andreasb242 commented on #779
Done, I use CTRl+1 ... CTRL+6 for the drawing tools.

Some didn't have a keyboard shortcut, and there are not many unused chars...
If you find other issues simple open a ticket, especially if they are that easy to solve as this one ;-)

[2019-01-19 12:31] andreasb242 commented on #767
On my MacBook it's working. At least with an older build...

[2019-01-19 15:44] andreasb242 commented on #771
@badshah400 Release is done

[2019-01-19 15:45] andreasb242 commented on #778
Mostly done, PDF working and signal handler there, but the .plist seems to be not correct yet...

[2019-01-19 15:45] #778 closed

[2019-01-19 16:07] edo0 opened #784 "Unable to record sound"
I am a Xournal++ user on ElementaryOS 5 (based off Ubuntu 18.04).
After following the instructions by the letter, and having set VLC Web Interface, single instance, and a folder to save the audio, I find myself unable to record anything.
After pressing the Recording button, a system notification dialogue informs me that "Recording started with 35% gain", but that does not lead to any audio file be

[2019-01-19 16:25] masac opened #785 "Icon for Show grid/Snap to grid"
https://drive.google.com/file/d/1Qs3Hdd11TXyFI5ej2MWxXDtnEPGeF63C/view?usp=sharing
I'm a math teacher. Can you add a _show grid_ icon? It would greatly help me to graphically represent geometric figures in space. The _MrWriter_ version would be ideal. Thanks!

[2019-01-19 16:33] andreasb242 commented on #785
@morrolinux What do you think, especially: Should we link it to the background, or should we do it independently?

[2019-01-19 16:50] JoergBitzer opened #786 "Big Cursor with yellow opaque circle"
Dear authors,
for screen-cast it would be great to have a "big cursor" with a yellow/red/whatever opaque circle. Since you overwrite the normal cursor-scheme DMZ-highlight is not working in Xournalpp. Joerg

[2019-01-19 17:11] morrolinux commented on #785
Honestly, I think this feature is not needed as of now:
Grid snapping only makes sense when you use "graph" or "dotted" paper, which are easy to pick and apply for all pages when you edit, and can be defaulted back to "plain white" when finished.
Or one could simply edit with "graph" paper and export to PDF with white plain background (like I do).

Given that grid size is not (yet) customizable, a

[2019-01-19 19:50] andreasb242 commented on #785
I'm currently working on the Glade UI integration.
We may should add scripting / plugins, for example here we only need to execute a few actions, like change background and change snap to grid, which all are UI Commands.

This is only an idea, It's not sure that it will be done. But there are more and more such requests, and it don't make sense to implement them all in core. But the user would hav

[2019-01-21 07:43] badshah400 commented on #771
@andreasb242 Thanks a lot for the quick fix and release. I have updated the package for openSUSE as well.

[2019-01-21 09:18] anishmittal2020 opened #795 "Export as image from CLI"
1. It will be great if we could export (and import) the notes as `SVG`?
    -   SVG is supported by modern web browsers
    -   SVG is text based
    -   there are Javascript libraries which allow drawing SVG in browsers (like [this one](https://github.com/SVG-Edit/svgedit)
    -   Markdown allows embedding SVG as images

---

2. Also, can we export as `png` (and `svg`) from CLI?

I am motivated b

[2019-01-21 13:48] ChrisP4 opened #796 "Memory leak on each save"
I've noticed that with each ctrl+S to save my document more RAM is being used.

[2019-01-21 15:26] morrolinux commented on #784
Hi!
Which path have you set for audio recorded files under settings?
Do you have `arecord` and `lame` both installed? are they your path? (e.g: what happens if you launch them from shell?)
The recording feature is baed on those commands, which I belive are not installed or working properly.

[2019-01-21 17:48] andreasb242 commented on #795
SVG Export was removed because there was an issue in exporting stuff (it was there, but not working).
But this is now fixed, SVG export is no Problem, as this is supported by cairo.
It's not that much work.

Commandline arguments is also not a big issue.

SVG Import is much work, because currently we do not support SVG rendering, so this is a new implementation. (and is not supported by cairo).

Y

[2019-01-21 18:10] andreasb242 commented on #796
I saved now 100 times or more, it always went up, but a few seconds after save it always falls down at the same amount it was before save.

I had a document with only a few stroke. So it may is only if there are e.g. Images or whatever.
I currently don't have the time to check everything, so the question:

Can you tell me what you had in the document, and can you check maybe 30s or so after save,

[2019-01-21 18:35] ChrisP4 commented on #796
Ok, I'll check if it frees after some time, but I have the feeling it didn't free up.
I have installed the package from aur if it makes any difference, my document was just handwritten notes in different colors. I've used the shape recognizer a lot for underlining and boxes. The .pdf is kind of large (350 pages) and my .xopp file is 1,2 MB right now and going to get bigger as I add more notes.

[2019-01-21 18:50] andreasb242 commented on #796
I open my Physics notes, 468 Pages PDF, 3.5MByte .xopp.

153.8MByte RAM used...
I now press and hold CTRL+S, to save it multiple times...
It goes up to 163 MByte, but down to 155.1MByte after some time.

After multiple saves (10+ for sure, it takes long to save, and I didn't count)
It stays at the end after about 30s or so at 160.5 MByte.

So there is may really a Memory leak, but only a very smal

[2019-01-21 19:01] andreasb242 commented on #683
Technical I removed the GTK Scroll handling, therefore removed the full Touch scrolling, Scroll wheel, Scrollbars etc.
I added Scrollbar so scrolling is possible, but it's not finished for sure, so use with care.

You have to manual enable it, and please give feedback.
Currently there are really much issues open, therefor I close this, and try to solve others. (There will be new tickets for the ne

[2019-01-21 19:01] #683 closed

[2019-01-21 19:08] andreasb242 commented on #404
Can somebody please recheck:
https://github.com/xournalpp/xournalpp/issues/683

See my last comment, enable it and check if the zoom has still the same issue, or if the Zoom is working with this checkbox?

As already written on the other Ticket: There are some issues, e.g. Scroll wheel not working, and may other issues.

This feedback is really important for me to know where the bug is located, an

[2019-01-21 19:15] andreasb242 commented on #740
It's still not reproducible for me. Therefor I close this issue now.

You are also a developer, therefor I hope you understand. You can reopen the ticket, if you find out how it's reproducible, or may fix it ;-)

Here was also nobody else, which wrote he has the same bug, as it was on other tickets. So it's probably a really special case...

[2019-01-21 19:15] #740 closed

[2019-01-21 19:23] andreasb242 commented on #796
Ok, yes you are right:

[code]

But it's not much.

[2019-01-21 19:46] andreasb242 commented on #684
This bug is still there, and can easy be reproduce by Zoom gesture.

[2019-01-21 19:47] taaem commented on #404
Awesome, this works! Its not buttery smooth but overall it works fine, no more jumping to 3x - 4x zoom and stuff, only thing I noticed is, that it doesn't stay on one page but scrolls when I want to zoom, so I mostly end on the last/first page when zooming, so I don't really know if it works because the scroll position is not fixed or if the bug is really fixed.

[2019-01-21 19:57] frohro commented on #740
Lately it has been working fine for me too, so I don't know either.
Rob

[2019-01-21 20:04] andreasb242 commented on #404
Yes, it's a complete manual implement scrolling.
And it's basically working, as I wrote in the other Ticket, I expect a lot of new tickets ;-)

But this probably also means there is a Bug in the GTK Scroll container (I forgot the name).

But anyway, I think we need to optimize the custom container, so it works for touch drawing, and then we can also fix all other stuff, as the zoom here.

But it w

[2019-01-21 20:33] andreasb242 commented on #786
@luco5826 Something for you?

Additional checkbox in the settings near the big cursor setting?

[2019-01-21 20:39] luco5826 commented on #786
Yeah! I could work on it!
But i think that would be useless with something like highlighter, maybe we could make it available just for PenTool?

[2019-01-21 20:52] andreasb242 commented on #786
May @JoergBitzer can post an image of an example cursor, in another application?

[2019-01-21 20:59] andreasb242 commented on #761
@Rmano
It's not a bug, it's a feature!

If you press the right mouse button, you create a copy of the current selection.
The undo / redo handling is correct implemented also. And it does NOT change the opacity, you simple created two copies, and then moved one, so there are two at the original place, and the one you move is therefore brighter.

You can reproduce it, so you see it. I close this bug

[2019-01-21 20:59] #761 closed

[2019-01-21 21:06] JoergBitzer commented on #786
I agree that this is only useful for the pen-tool.
And an example:
https://askubuntu.com/questions/777896/how-do-i-highlight-my-mouse-pointer-while-screen-recording
The third answer has a nice short animated gif with a green halo. I like yellow or red more, but this is a matter of taste.

[2019-01-21 21:08] dexter0195 opened #799 "Organize notes into notebooks"
It would be great to organize notes into notebooks or folders from inside the app as it is done in OneNote.
It's true that you can navigate the filesystem from a file explorer and then select the file to edit but the feeling is not the same.
Furthermore you could make hyperlinks between notes with that.

[2019-01-21 21:09] luco5826 commented on #786
No problem! I can work on that!

[2019-01-21 22:04] edo0 commented on #784
Thank you for the advice!. I was indeed missing the required "lame" package, which I would recommend to add to the readme at this point.

After installing lame I manage to record files (which found in the default saving folder, even though playing at very low volume - my system does not have a "/usr/local/bin/xopp-recording.sh" config file I can tweak). The same are not played with the "Play Objec

[2019-01-21 22:50] morrolinux commented on #784
Definitely have to add `lame` to the readme requirements...
xopp-recording.sh it's not a config file but the recording script itself.
It's surely somewhere in your PATH since you're using it. Try posting the output of `which xopp-recording.sh` here.
Play object calls VLC for audio playback, do you have this package installed? And have you made the required configuration on it like the readme descr

[2019-01-22 08:27] ngbvol opened #800 "Text-tool doesn't work on Windows 7"
No Text can be inserted via keyboard except the CR/LF-key

[2019-01-22 17:43] edo0 commented on #784
No, VLC is not launched.
After having recorded and simultaneously taken notes, when I press on text/images with the Play Object tool I get no visual or audio feedback of sort, no VLC window opens, it's just as if I didn't press anything, the hand-shaped pointer stands on the text without doing anything

[2019-01-22 17:53] morrolinux commented on #784
Wait, this feature actually only works for handwritten text, no keyboard typing or images either!

[2019-01-22 18:07] edo0 commented on #784
That explains it. With handwritten text it does work flawlessly indeed !
Should I open an "enhancement" issue asking for a new feature to be added, for recording to be allowed together with the text inout function?
Grazie ancora for your help!

[2019-01-22 18:37] morrolinux commented on #784
Yeah probably that's a good idea if you really need this, although at the actual state-of-the-art it would be not trivial to implement for "keyboard text" as each text field is being stored as a whole object, and having an audio track to be played just at the beginning of the text field isn't too useful (ideally you would need to lick on a specific typed word, right? we would need to redesign the

[2019-01-22 18:51] cass00 commented on #404
Does pinch-to-zoom work in evince @taaem ? The implementation is basically taken from there, so if it works in evince then it should also work in xournalpp. Therefore I'm not really sure that it caused by a bug in the scroll container.
When I implemented the centred zoom there were some glitches similar to the ones described here. The problem was solved by changing the gestures widget from the Xou

[2019-01-22 19:58] edo0 commented on #784
Thank you very much for your reply.

In my very specific use case scenario, I make use of Xournal++ to add notes to PDF slides during class in university.

While possibly very useful for other contexts, in my specific case perfect matching between text and recorded audio would not be possible, and in case very inconvenient: I do not type at the same speed as the professor's speech, nor everything

[2019-01-22 21:38] taaem commented on #404
@cass00 yes, pinch to zoom works in evince just fine. #161 sounds like the same issue to me, because while debugging, when removing the centered zoom logic it started working without issue.

[2019-01-22 22:22] oyren commented on #684
Same problem here.

[2019-01-22 23:12] kelmes commented on #404
The same GtkGesture seems to be responsible for touchpad pinch gestures, where:

1. This bug does not occur
2. zooming is not properly centred

I also tried changing the parent widget, and it seems like every parent of the viewport (and the viewport itself) works for scrolling (which I vaguely remember not being the case at some point, but I could be wrong on that), and exhibits this bug.

[2019-01-23 06:37] andreasb242 commented on #800
@morrolinux had the same on macOS, but it was not reproducible by me...
Probably the same issue...

[2019-01-23 09:03] Bl4d3s opened #802 "Crash on Arch Linux after some time"
I'm running the latest kernel and latest xournalpp build on an Lenovo Thinkpad Yoga 370, it crashes sometimes but not after certain actions, but random. If I then restart xournalpp it asks if I want to restore, if I select it right then it crashes again. If I wait till the pdf is loaded in the background and then click restore it works again.

If you need additional information feel free to ask.

[2019-01-23 09:51] #786 closed

[2019-01-23 12:58] ppolkf opened #803 "Shortcuts & fullscreen"
Hi,
it seems that when the menu bar is not shown (either in fullscreen mode or when it is hidden using the View menu) some shortcuts (like cut, copy, paste, etc) don't work while others do (goto last page, goto first page, etc). Could this be corrected?
Best,
F.

[2019-01-23 13:56] peetCreative commented on #802
Thank you for reporting the bug!
Seems that the issue relates to  #764 issue. Can you try the proposd workaround there?

[2019-01-23 13:59] peetCreative commented on #803
Thank you for reporting the bug!
I can reproduce the bug.

[2019-01-23 14:14] ppolkf commented on #803
In case it is of any help, an analogous behavior was seen  in the original xournal when setting up personal shortcuts; it is is described in https://sourceforge.net/p/xournal/discussion/554376/thread/be0db1a7/

[2019-01-23 16:44] GregDMeyer commented on #772
I have the same problem that I can't zoom out. Clicking zoom in or zoom out always zooms in. Even trying to pinch to zoom out still zooms in. Sometimes even just pressing save zooms in! and there is no way to zoom back out again.

[2019-01-23 17:52] andreasb242 commented on #404
I didn't really analyze the bug, as it does not occur on my system. But may delete all the zoom gesture stuff and start from scratch may fixes it ;-)

But because of the GTK Scroll handling I think we ne a custom implementation. GTK catches all move geastures automatically on the scrolled widget, only click is sent to the widget. It would be nice if this also would work without hacks, as this is m

[2019-01-23 18:01] andreasb242 commented on #803
This is caused because we hide the Menu.
The most shorcuts are assigned over the menu only, this are not working.
Some Shortcut are handled a different way, because of some reason, this are usually still working.

Yes. It is.

The more important question: @ppolkf are you just asking, or do you really miss the shortcuts would work without menu? Because if you just asking we can close this ticket no

[2019-01-23 20:34] andreasb242 commented on #803
We should check if we can place the menu behind something, but still visible. So the shortcuts keep active.

[2019-01-24 11:59] masac opened #804 "Quickmenu (right mouse button)"
https://drive.google.com/file/d/1yg0_Q7CNWRIl7L4Svb5HgdDt8TgJnNID/view?usp=sharing
In version 0.0.5 of the MrWriter program https://github.com/unruhschuh/MrWriter/releases , was added the option Quickmenu (right mouse button). Can this option be implemented in Xournalpp? Thanks!

[2019-01-24 18:50] andreasb242 commented on #804
The buttons in Xournal++ are configurable, so generally reserve the right button is no option.
The Toolbars are also customizeable, so for this a new config option is needed, and a new "Toolbar".

Possible for sure, but also not a high priority feature. Currently we get more feature requests / bugs than we can implement / fix.

[2019-01-24 18:52] andreasb242 commented on #772
You may compare the two files, they are textfiles / human readable!

[2019-01-25 00:49] edo0 commented on #784
Thank you very much, that would be great!

[2019-01-25 03:32] masac commented on #804
Thanks!

[2019-01-25 10:09] Bl4d3s commented on #802
Thanks for pointing this out. Indeed the workaround mentioned there seems to fix the problem (no crashes for the last 6h)

[2019-01-25 10:54] masac opened #805 "Points displayed later"
https://drive.google.com/file/d/1bxbqP93_U4azdqV3Jq5UlSP9ZtVKCV9g/view?usp=sharing
1. I use Linux Mint 19.1 Mate 64 bit. When I choose Journal-Paper background-Apply to all pages then Xournalpp crashes.
2. When I try to write the sign of divisibility, sometimes the points are displayed late.

[2019-01-25 18:10] Plailect commented on #764
This seems to have fixed itself for some reason? This no longer crashes with the option enabled for me (though there is no reason to enable it in the first place from what I can tell). I did switch to using libinput for the touchscreen driver (due to https://github.com/xournalpp/xournalpp/issues/404, specifically pinch to zoom wasn't working at all), but switching back to wacom temporarily still d

[2019-01-25 18:45] andreasb242 commented on #764
We are working on the Code continuously, so we may changed something which caused the bug... For me the bug was never reproducible. Therefore I close this ticket. If it happens again, or other get this bug: Simple reopen the ticket.

[2019-01-26 17:28] edo0 opened #806 "Clicking outside of a Textbox should create a new one"
When using the Text tool, clicking outside of the textbox simply deselects the one being edited, instead of straighforwardly creating a new one. Having to click twice to create a new textbox seems to me an undesirable behaviour.
The same situation presents itself to the user who wants to switch from a currently being edited textbox to a previous one to change/correct the content (deselect and then

[2019-01-26 18:48] andreasb242 commented on #806
Yes, this can be changed.

[2019-01-26 19:03] andreasb242 commented on #569
I got it working. The patch is not yet ready, but it's coming soon.

[2019-01-26 20:37] frohro opened #807 "It would be nice if when snap to grid is selected, that moved objects would snap to grid."
I'm creating slides for video lectures using xournalpp.  It is much nicer than xournal, which I used before, and getting much better all the time.  I often create a figure and then copy/paste it, and move the pasted object to a new location, for example when making schematic diagrams.  Then I modify the pasted figure.  I use snap to grid to make things line up nicely.  I have to be extremely caref

[2019-01-26 21:42] andreasb242 commented on #807
There was already a ticket to this topic, @morrolinux did a config option or something?

For me it's not clear whats the problem.

[2019-01-27 09:17] morrolinux commented on #807
I think we're talking about a different thing @andreasb242 : he's talking about grid snapping for moving objects, not drawing.
I might have an idea on how to do this, but I'm busy with exams right now so I would do it in a couple of weeks or so I think...

[2019-01-27 14:36] andreasb242 commented on #784
If I look e.g. at this sample:
http://portaudio.com/docs/v19-doxydocs/paex__record_8c_source.html

Looks really complicated, only to record / reply audio files.
If there is a library which allows easy recording / replay this would be an option, but the most libraries are really complicated like this, and this is much work...

[2019-01-27 14:52] andreasb242 commented on #569
https://github.com/xournalpp/gtk/pull/1

[2019-01-27 14:57] LittleHuba commented on #784
I'll take a look around and search for an appropriate library. O even wouldn't be averse to writing a wrapper so you can use it more easily.

[2019-01-27 15:38] andreasb242 commented on #784
@LittleHuba if you want to do it, you can use any library you want ;-) (it needs to be working and cross plattform)

[2019-01-27 15:49] LittleHuba opened #808 "Use PortAudio for Recording and Playback of audio"
Switch to PortAudio library for audio handling

[2019-01-27 15:52] LittleHuba commented on #808
@andreasb242 could you point out a few things for me?

- How can I include the recorded data into the xopp format? Is there a preference on how to do that or can I simple create my own tag?

Is there something else to keep in mind except that it has to wrk (obviously) and it is cross platform?

[2019-01-27 15:53] LittleHuba commented on #784
Just started a new issue #808 to reference it correctly

[2019-01-27 16:02] andreasb242 commented on #808
The Problem with the .xopp format is that it's an gzipped XML, which is a really bad start to put in an audio file. So I would currently still put it into a separate file, and keep the format as it is.

I would prefer to change the file format, but it's much work, and therefore I never did it. So for now I would stay at it and use an external file.

Instead of use a Library there would be also an

[2019-01-27 16:15] LittleHuba commented on #808
What new file format are you thinking of? It might influence my approach as I'd prepare the code for those changes.

What I would like to prevent is having a huge dependency on another tool like VLC. Even if a lot of people have it installed on their system, it is still awful if you only have to install it for using xournalpp.

Additionally PortAudio is not as hard to use as it seems, it's actuall

[2019-01-27 16:30] morrolinux commented on #808
@LittleHuba that's great news! I had a look at PortAudio among the others few months ago, when I did the audio mapping stuff. I needed something to work with and I needed it quick (during lessons period) , so after a few trials went wrong I decided it was no option.
It's surely a good idea to incorporate this in xournalpp, and if you're familiar with it.. it probably won't take you as long, like y

[2019-01-27 16:40] LittleHuba commented on #808
Ahh using a zip container makes it easy for me. Then I'll stick with the audio file.

I'll separate my work into multiple PRs. I'll keep you posted on my progress, so you can tell me early on if anything does not match your expectations. ;-)

[2019-01-27 16:43] andreasb242 commented on #808
@LittleHuba Thank you! :-)

[2019-01-27 19:14] frohro commented on #807
It appears that the VerticalToolHandler needs fixed too, because when you have snap to grid selected, you want it to snap to grid too.

[2019-01-27 23:21] frohro opened #810 "Need to arrange when an object is behind of in front of another...."
I have found it nice to be able to draw objects on top of one another.  Sometimes I select the rear most object.  It then becomes the top object, and if it is bigger than the ones that were in front of it, it is very difficult to get them back in front.  We need something, like "Send selection to the back" so you can put it behind the other objects again.

[2019-01-28 10:53] #733 closed

[2019-01-28 14:15] peetCreative commented on #772
@GregDMeyer have you found out sth in the files?

[2019-01-28 15:27] peetCreative commented on #705
I have a similar problem, but the page scrolls also to the wrong page.
eg. stored and saved at 26 opens at 46.

[2019-01-28 16:16] janclaussen commented on #764
I have the same bug. I had unintended drawings from my palm, so I turned that option on. I think the drawing issue was fixed, but then the application crashed. I turned it off again and now the palm rejection doesn't work right. I did not have this problem with the original Xournal. I like your version better though. Please get the palm rejection issue under control :)

[2019-01-28 17:47] andreasb242 commented on #810
Right, until then you can draw on two layers, you can select now the layer in the background for drawing, which fixes this issue for now...

[2019-01-28 18:33] #705 closed

[2019-01-28 19:11] andreasb242 commented on #764
Please configure the touch disabling in the Touch Tab.
I removed the touch devices from the device list, so this cannot be done this way.

Touch devices which are detected as touch devices in GTK are handled special, this causes more issues than thought.

[2019-01-28 19:11] #764 closed

[2019-01-28 19:11] andreasb242 commented on #802
Please configure the touch disabling in the Touch Tab.
I removed the touch devices from the device list, so this cannot be done this way.

Touch devices which are detected as touch devices in GTK are handled special, this causes more issues than thought.

[2019-01-28 19:11] #802 closed

[2019-01-28 19:56] GregDMeyer commented on #772
Sorry it took me a bit, I had diff'ed them a few days ago but I guess I had customized a lot of settings because the diff was like the whole file ;)

It turns out the culprit is "Presentation Mode". When I turn it on, zooming is broken; when I turn it off, it works again. (The settings file stores an attribute for presentation mode, so that's why it was persistent between restarts). So the easy fi

[2019-01-28 20:38] peetCreative commented on #772
OK, so this issue is related to #671.
Anyhow in Presentationmode Zoom should be disabled.

[2019-01-28 20:53] morrolinux commented on #810
@andreasb242 I'm afraid it doesn't:  You can draw on two layers, but the object you select gets brought on top even if it's a layer under the current one

[2019-01-28 21:17] GregDMeyer commented on #772
Sounds good. Should this issue be closed then as a duplicate?

[2019-01-28 21:35] andreasb242 commented on #810
But only as long as it's selected, when it's release it will be back on the background. The selected elements are always topmost.

[2019-01-28 21:35] andreasb242 commented on #772
As this is a really specific issue: Let it open. There are anyway to many issues open again ;-)

[2019-01-29 12:22] peetCreative commented on #800
I have under Windows 10 the problem as well.
Now I have to figure out how to compile and debug things. aaaahrg.

[2019-01-29 14:19] peetCreative opened #815 "Windows: Build with Windows"
Hi I just try to fix some bugs only occuring on Windows.
Does anyone has an idea or best practise to build on Windows?
Maybe we can put this than also here: https://github.com/xournalpp/xournalpp/blob/master/readme/WindowsBuild.md
Honestly my Internet atm is too slow to download things for Windows. :-(

[2019-01-29 15:20] ThoFrank commented on #770
Sounds interesting. I'm a student myself and would be interested in joining.

[2019-01-29 15:46] andreasb242 commented on #815
You need to download stuff, you need GTK and Poppler etc.

What is missing? This manual schould work, at leas on Win 10...

[2019-01-29 19:40] andreasb242 commented on #770
I filled out the form today. We may can do it :-)

[2019-01-30 02:09] LittleHuba commented on #808
Good news!
I got Portaudio running and recording in good quality. The audiofiles are written using libsox, which generates mp3-files.

The hard part was actually separating the generation of the audio samples from writing out the data. To get good audio quality I had to separate the two tasks into own threads, which use the consumer-producer pattern to exchange the data.

Playing the audio files w

[2019-01-30 05:49] andreasb242 commented on #808
Thank you!

[2019-01-30 08:10] edo0 opened #816 "File names conflict during PDF export if portion before first dot is identical"
Steps to reproduce:
1) Open  "Presentation 1.pdf"
2) Export as PDF in the same folder
3) Naming it as "Presentation 1.***" or "Presentation 1.***.pdf", where *** can be any text with or without spaces (e.g. _"Presentation 1.w notes.pdf"_) will return the error: "Do not overwrite the background PDF! This will cause errors"
It is safe to assume that only the text before the first dot is considered t

[2019-01-30 10:09] edo0 commented on #816
Addendum!
When exporting as PDF, any character after the first dot is ignored "1.2.3.4.5.pdf" will be saved as "1.pdf"
Funnily enough, when saving a project as .xopp file, only the last character after dot and before extension is ignored (1.2.3 is saved as 1.2.xopp, 1.2.3.4.5.6.7 is saved as 1.2.3.4.5.6.xopp)

[2019-01-30 13:02] peetCreative commented on #815
OK... I got it now. Didn't expect pacman existing anywhere else then in arch.

[2019-01-30 13:02] #815 closed

[2019-01-30 17:22] luco5826 commented on #816
Yes @andreasb242 !
I suspected this behaviour since the logic deletes any previous extension, but I'll have a look on it!

[2019-01-31 16:21] LittleHuba commented on #810
Just tested if this is really the case and unfortunately it does not seem to be.
When two strokes are on the same layer, selecting the one beneath the other will bring it to the foreground as expected. Unfortunately releasing it does not restore the original ordering of the strokes.

[2019-01-31 16:48] morrolinux commented on #684
Like I was pointing out here: https://github.com/xournalpp/xournalpp/issues/404#issuecomment-452787348
That's weird because according to @andreasb242 this should already be handled per-device?

[2019-01-31 16:58] LittleHuba commented on #684
Seems like it is not GDK that is mixing something up but Xournal++ that processes the events twice. Once for zoom and another time to draw, using the currently selected tool.
I'll dig a little bit and try to find where the issue is.

[2019-01-31 17:42] andreasb242 commented on #808
@morrolinux what do you think? for me it looks good

[2019-01-31 17:46] andreasb242 commented on #684
Thank you for the analysis, I need to check the gesture handling...

[2019-01-31 18:04] markwmuller opened #818 "Selecting custom toolbar not persistent"
Upon opening Xournal++, previously selected (custom) toolbar is not selected any more. Instead, the toolbar on which the custom toolbar is based is selected.

Steps to reproduce:
1. View>Toolbar>Manage; create copy of (e.g.) Right hand Note Taking. Call it e.g. "TEST"
2. Select "TEST", then View>Toolbars>Customize to customize this, move some things around.
3. Edit document & save document
4. Clos